<div
  *ngIf="!displayCombat && !isLoading"
  class="flex h-full w-full items-center justify-center bg-black text-center text-primary"
>
  You are already in combat. Next fight in:
  <app-countdown [targetDate]="nextCombatIn!"></app-countdown>
</div>

<div
  *ngIf="isLoading"
  class="flex h-full w-full flex-col items-center justify-center bg-black text-center text-primary"
>
  <app-combat-countdown
    [startValue]="3"
    (countdownComplete)="onCountdownComplete()"
  >
  </app-combat-countdown>
</div>

<div
  *ngIf="displayCombat && !isLoading"
  class="flex h-full flex-col gap-4 pr-4 sm:pr-6"
>
  <div
    class="flex h-16 w-full flex-col items-center justify-between gap-4 sm:flex-row"
  >
    <div class="flex w-full items-center justify-center gap-6 text-white">
      <div class="flex flex-col items-center gap-1">
        <span>Battle</span>
        <h2 class="text-primary">Shenic - Area 2 - Orc</h2>
      </div>
    </div>
  </div>
  <div class="flex w-full flex-col justify-around gap-4 sm:flex-row sm:gap-0">
    <div class="flex items-center sm:flex-col">
      <div class="mb-4 flex flex-col gap-2 sm:flex-row">
        <ng-container *ngFor="let character of playerCharacters; let i = index">
          <div
            (click)="focusCharacter('player', i)"
            class="h-10 w-10 cursor-pointer rounded bg-cover"
            [ngStyle]="{
              'background-image': 'url(\'assets/combat/thumbnail-' + '\')',
              border:
                selectedPlayerCharacterIndex === i
                  ? '2px solid gold'
                  : '1px solid gray',
            }"
          ></div>
        </ng-container>
      </div>
      <app-combat-avatar
        *ngIf="selectedPlayerCharacter"
        imagePath="placeholder2.png"
        [name]="selectedPlayerCharacter.name"
        [hp]="selectedPlayerCharacter.health"
        [maxHp]="selectedPlayerCharacter.maxHealth"
        [mp]="selectedPlayerCharacter.mana"
        [maxMp]="selectedPlayerCharacter.maxMana"
      ></app-combat-avatar>
    </div>
    <div class="flex flex-col items-center justify-center">
      <img
        src="combat/CombatVS.svg"
        alt="Logo"
        class="center -my-24 w-44 object-contain sm:-my-0"
      />
    </div>
    <div class="flex items-center sm:flex-col">
      <div class="mb-4 flex flex-col gap-2 sm:flex-row">
        <ng-container *ngFor="let character of enemyCharacters; let i = index">
          <div
            (click)="focusCharacter('enemy', i)"
            class="h-10 w-10 cursor-pointer rounded bg-cover"
            [ngStyle]="{
              'background-image': 'url(\'assets/combat/thumbnail-' + '\')',
              border:
                selectedEnemyCharacterIndex === i
                  ? '2px solid red'
                  : '1px solid gray',
            }"
          ></div>
        </ng-container>
      </div>
      <app-combat-avatar
        *ngIf="selectedEnemyCharacter"
        [name]="selectedEnemyCharacter.name"
        imagePath="placeholder1.png"
        [hp]="selectedEnemyCharacter.health"
        [maxHp]="selectedEnemyCharacter.maxHealth"
        [mp]="selectedEnemyCharacter.mana"
        [maxMp]="selectedEnemyCharacter.maxMana"
      ></app-combat-avatar>
    </div>
  </div>
  <div class="flex h-full w-full overflow-hidden">
    <app-combat-overview
      [combatEvents]="combatEvents"
      class="h-full w-full"
    ></app-combat-overview>
    <button (click)="stopCombat()" class="text-primary">
      {{ StopCombatButtonText }}
    </button>
  </div>
</div>
