<ng-container
  *ngIf="
    combatStateService.getIsCombatActive(trainingBattleType)() as isTrainingBattleActive;
    else regionView
  "
>
  <app-combat
    class="flex h-full w-full"
    [battleType]="trainingBattleType"
    (skipBattle)="closeTrainingSummary()"
  ></app-combat>
</ng-container>

<ng-template #regionView>
<div class="flex h-full w-full flex-col gap-4 overflow-hidden pr-4">
  <section class="ll-panel p-4" *ngIf="region">
    <div class="ll-eyebrow">Region</div>
    <h1 class="ll-heading mt-1 text-3xl">{{ region.name }}</h1>
  </section>

  <app-tabs *ngIf="region" class="flex w-full flex-col overflow-hidden">
    <app-tab label="Areas">
      <div
        *ngIf="region.areas.length > 0; else noAreas"
        class="flex w-full flex-col gap-2 overflow-y-auto pt-4"
        data-tour="areas-introduction"
      >
        <div class="flex h-full w-full flex-wrap gap-4">
          <div
            *ngFor="let area of region.areas; index as i"
            class="w-full sm:w-fit"
          >
            <app-combat-area-card
              [area]="area"
              [isLastInRow]="isLastInRow(i)"
            ></app-combat-area-card>
          </div>
        </div>
      </div>

      <ng-template #noAreas>
        <div class="pt-4" data-tour="areas-introduction">
          <div class="ll-empty-state">
            No combat areas are available in this region yet.
          </div>
        </div>
      </ng-template>
    </app-tab>

    <app-tab label="Dungeons">
      <app-dungeons class="overflow-hidden pt-4"></app-dungeons>
    </app-tab>

    <app-tab label="Raids">
      <app-raids></app-raids>
    </app-tab>
  </app-tabs>
</div>
</ng-template>
