<div class="flex h-full w-full flex-col gap-2 text-white">
  <div
    class="flex min-h-48 w-full justify-between rounded-lg border border-light_gray p-4"
  >
    <div>
      <h2 class="text-primary">
        {{ guild.name }}
      </h2>
      <div>"Honor and Glory!"</div>
    </div>
    <div class="flex flex-col justify-between gap-2">
      <span class="text-end"
        >{{ guild.members.length }} / {{ guild.maxMembers }} members</span
      >
      <div *ngIf="character.role !== memberRole" class="flex flex-col gap-2">
        <div
          class="place-self-end rounded border border-light_gray p-2 hover:cursor-pointer hover:bg-zinc-600/30"
          (click)="openModal()"
        >
          Invite
        </div>
        <div
          class="place-self-end rounded border border-light_gray p-2 hover:cursor-pointer hover:bg-zinc-600/30"
          (click)="openApplicationsModal()"
        >
          <div class="flex gap-1">
            <div>Applications</div>
            <div *ngIf="guild.invites.length > 0">
              ({{ guild.invites.length }})
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex h-full flex-col overflow-hidden">
    <div class="grid grid-cols-4 gap-2 p-2">
      <div>Name</div>
      <div>Level</div>
      <div>Role</div>
    </div>
    <div class="overflow-y-auto">
      <div
        class="grid grid-cols-4 items-center border-t border-light_gray p-2 text-white"
        *ngFor="let member of guildMembers"
        [ngClass]="{
          'bg-zinc-300/10 text-primary': member.characterId === id,
        }"
      >
        <div class="break-words pr-2">
          {{ member.name }}
        </div>
        <div>{{ member.level }}</div>
        <div>{{ member.role }}</div>
        <div
          *ngIf="member.characterId === id"
          class="col-start-4 justify-self-end rounded border border-light_gray p-2 hover:cursor-pointer hover:bg-zinc-600/30"
          (click)="
            openConfirmModal(member.role === leaderRole ? 'disband' : 'leave')
          "
        >
          {{ member.role === leaderRole ? "Disband" : "Leave" }}
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="showModal"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
  (click)="closeModal()"
>
  <div
    class="w-96 rounded-lg border border-light_gray bg-texture p-4 shadow-lg"
    (click)="$event.stopPropagation()"
  >
    <h3 class="mb-4 text-primary">Invite Character</h3>
    <input
      type="text"
      [(ngModel)]="inviteName"
      placeholder="Enter character name"
      class="mb-4 w-full rounded border border-light_gray bg-texture p-2 text-white"
    />
    <div class="flex justify-end gap-2">
      <app-regular-button (click)="closeModal()"> Cancel </app-regular-button>
      <app-regular-button (click)="invite()"> Send Invite </app-regular-button>
    </div>
  </div>
</div>

<div
  *ngIf="showApplicationsModal"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 text-white"
  (click)="closeApplicationsModal()"
>
  <div
    class="w-96 rounded-lg border border-light_gray bg-texture p-4 shadow-lg"
    (click)="$event.stopPropagation()"
  >
    <ng-container *ngIf="guild.invites.length > 0; else noApplications">
      <h3 class="mb-4 text-primary">Applications</h3>
      <div
        class="flex items-center justify-between gap-2 border-t border-light_gray p-2 hover:bg-zinc-300/10"
        *ngFor="let application of guild.invites"
      >
        <div class="truncate">{{ application.characterName }}</div>
        <div class="flex gap-2">
          <app-regular-button
            (click)="rejectApplication(application.characterId)"
          >
            Reject
          </app-regular-button>
          <app-regular-button
            (click)="approveApplication(application.characterId)"
          >
            Approve
          </app-regular-button>
        </div>
      </div>
    </ng-container>
    <ng-template #noApplications>
      <h3 class="p-2 text-center text-primary">No applications</h3>
    </ng-template>
  </div>
</div>

<div
  *ngIf="showConfirmModal"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
  (click)="closeConfirmModal()"
>
  <div
    class="w-96 rounded-lg border border-light_gray bg-texture p-4 shadow-lg"
    (click)="$event.stopPropagation()"
  >
    <h3 class="mb-4 text-primary">
      {{ confirmAction === "disband" ? "Disband Guild?" : "Leave Guild?" }}
    </h3>
    <p class="mb-6 text-zinc-400">
      Are you sure you want to
      {{
        confirmAction === "disband" ? "disband your guild" : "leave the guild"
      }}? This action cannot be undone.
    </p>
    <div class="flex justify-end gap-2">
      <app-regular-button (click)="closeConfirmModal()">
        Cancel
      </app-regular-button>
      <app-regular-button (click)="confirmDecision()">
        {{ confirmAction === "disband" ? "Disband" : "Leave" }}
      </app-regular-button>
    </div>
  </div>
</div>
