<div class="flex h-full w-full flex-col gap-4">
  <app-profession-header
    class="pr-4 sm:pr-6"
    title="Woodcutting"
  ></app-profession-header>
  <div
    class="grid h-full w-full gap-4 overflow-y-auto pr-2 sm:place-items-center md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
  >
    <app-profession-card
      professionNodeLootTable="551c9f1c-f7fd-4edb-8a59-753dfcbc8d5b"
    ></app-profession-card>
    <app-profession-card professionNodeLootTable="1"></app-profession-card>
    <app-profession-card professionNodeLootTable="1"></app-profession-card>
    <app-profession-card professionNodeLootTable="1"></app-profession-card>
    <app-profession-card professionNodeLootTable="1"></app-profession-card>
    <app-profession-card professionNodeLootTable="1"></app-profession-card>
    <app-profession-card professionNodeLootTable="1"></app-profession-card>
    <app-profession-card professionNodeLootTable="1"></app-profession-card>
    <app-profession-card professionNodeLootTable="1"></app-profession-card>
    <app-profession-card professionNodeLootTable="1"></app-profession-card>
  </div>
</div>
