<div class="flex h-full w-full flex-col gap-2">
  <div class="flex h-full w-full flex-col overflow-y-auto">
    <app-tabs class="flex h-full flex-col overflow-hidden">
      <app-tab label="Info">
        <app-guild-info
          class="overflow-hidden"
          [guild]="guild"
          (inviteEvent)="inviteCharacterByName($event)"
          (leaveEvent)="leaveGuild()"
          (disbandEvent)="disbandGuild()"
          (rejectEvent)="rejectApplication($event)"
          (approveEvent)="approveApplication($event)"
        ></app-guild-info>
      </app-tab>
    </app-tabs>
  </div>
</div>
