<div
  class="relative flex h-40 w-full overflow-visible rounded-md bg-cover sm:h-60 sm:w-96"
  [ngStyle]="{
    'background-image': 'url(\'assets/combat/' + imagePath + '\')',
    'box-shadow': '0 6px 6px -3px rgba(0, 0, 0, 0.4)',
  }"
  [ngClass]="{ 'animate-pulse': isLoading }"
>
  <div class="absolute inset-0 p-3">
    <!-- <img src="icons/Info.svg" class="size-6" /> -->
  </div>
  <div class="relative flex h-full w-full items-end">
    <div
      class="border-gradient absolute w-full rounded-md opacity-70"
      style="height: calc(3rem + 2px); bottom: -1px"
    ></div>
    <div class="absolute flex h-12 w-full overflow-hidden rounded-b-md">
      <div
        class="card-gradient absolute h-full w-full p-4 opacity-50 backdrop-blur-[2px]"
      ></div>
      <div
        class="absolute h-full w-full bg-black/40 p-4 backdrop-blur-[1px]"
      ></div>
    </div>
    <div class="absolute flex h-full w-full justify-center text-white">
      {{ name }}
    </div>
    <div class="relative flex h-11 w-full px-4 text-white">
      <div class="flex w-full flex-col">
        <app-health-bar
          [health]="hp"
          [maxHealth]="maxHp"
          [barrier]="barrier"
          class="w-full"
        ></app-health-bar>
        <app-mana-bar
          [mana]="mp"
          [maxMana]="maxMp"
          class="w-full"
        ></app-mana-bar>
      </div>
    </div>
  </div>
</div>
