<div class="flex h-full w-full flex-col gap-4">
  <app-profession-header
    class="pr-4 sm:pr-6"
    title="{{ profession.name }}"
    icon="professions/{{ profession.iconPath }}"
  ></app-profession-header>
  <div
    class="grid h-full w-full gap-4 overflow-y-auto pr-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    <ng-container *ngIf="characterProfession">
      <div *ngFor="let gatheringNode of gatheringNodes" class="">
        <app-profession-card
          [gatheringNode]="gatheringNode"
          [characterProfession]="characterProfession"
        ></app-profession-card>
      </div>
    </ng-container>
  </div>
</div>
