<div
  *ngIf="characterProfessions() as characterProfessions"
  class="flex h-full w-full flex-col gap-4"
>
  <app-profession-header
    class="pr-4 sm:pr-6"
    title="Gathering"
    icon="professions/woodcutting"
  ></app-profession-header>
  <div class="flex h-full w-full overflow-y-auto">
    <ng-container *ngFor="let profession of gatheringProfessions()">
      <div class="flex flex-wrap gap-4 pr-2">
        <app-profession-card
          class="w-full sm:w-fit"
          [gatheringNode]="profession.gatheringNode"
          [characterProfession]="
            getCharacterProfessionFor(profession.professionType)
          "
          [iconPath]="profession.iconPath"
          [professionType]="profession.professionType"
        ></app-profession-card>
      </div>
    </ng-container>
  </div>
</div>
