<div
  *ngIf="profession() as profession"
  class="flex h-full w-full flex-col gap-4"
>
  <app-profession-header
    *ngIf="characterProfession() as characterProfession"
    class="pr-4 sm:pr-6"
    title="{{ profession.name }}"
    icon="professions/{{ profession.iconPath }}"
    [level]="characterProfession.level"
    [experience]="characterProfession.experience"
    [experienceUntilNextLevel]="characterProfession.experienceUntilNextLevel"
  ></app-profession-header>
  <div class="flex h-full w-full flex-col overflow-y-auto">
    <ng-container *ngIf="characterProfession() as characterProfession">
      <ng-container *ngIf="gatheringNodes() as gatheringNodes">
        <div class="flex w-full flex-wrap gap-4 pr-2">
          <div
            *ngFor="let gatheringNode of gatheringNodes"
            class="w-full sm:w-fit"
          >
            <app-profession-card
              [gatheringNode]="gatheringNode"
              [characterProfession]="characterProfession"
              [iconPath]="profession.iconPath"
              [professionType]="profession.professionType"
            ></app-profession-card>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
