<div class="max-w-full rounded-lg border-primary bg-texture p-6 text-white">
  <!-- Modal Header -->
  <div class="flex w-full items-center justify-center pb-2">
    <h2 class="text-primary">
      {{ equipmentInstance.displayName || equipmentInstance.itemBase.name }}
    </h2>
  </div>
  <div class="border-t border-light_gray pb-3"></div>

  <div class="flex flex-row justify-between gap-2">
    <app-equipment-display [item]="equipmentInstance"></app-equipment-display>

    <!-- Modal Footer -->
    <div class="mt-6 flex place-items-end justify-end gap-2">
      <button (click)="onClose()" class="rounded bg-light px-4 py-2 text-white">
        Close
      </button>
      <button class="rounded bg-light px-4 py-2 text-white" (click)="onEquip()">
        Equip
      </button>
    </div>
  </div>
</div>
