<div class="flex h-full flex-col space-y-2 pr-4 sm:pr-6">
  <app-market-place-filter
    (itemTypeChanged)="onItemTypeChanged($event)"
  ></app-market-place-filter>

  <ng-container [ngSwitch]="selectedItemType().main">
    <app-market-place-generic
      *ngSwitchCase="ItemType.Consumable"
    ></app-market-place-generic>
    <app-market-place-resources
      *ngSwitchCase="ItemType.Resource"
      [resource]="selectedItemType().sub"
    ></app-market-place-resources>
    <app-market-place-essences
      *ngSwitchCase="ItemType.Essence"
    ></app-market-place-essences>
    <app-market-place-equipment
      *ngSwitchCase="ItemType.Equipment"
    ></app-market-place-equipment>
  </ng-container>

  <div class="flex w-full flex-col sm:gap-4">
    <app-banner
      image="market-place"
      bgPosition="bg-bottom"
      class="w-full"
    ></app-banner>
  </div>

  <div class="flex h-full w-full flex-col justify-between overflow-hidden">
    <app-tabs class="flex h-full flex-col overflow-hidden">
      <app-tab label="Buy">
        <app-market-place-buy
          class="h-full overflow-hidden"
        ></app-market-place-buy>
      </app-tab>
      <app-tab label="Sell">
        <app-market-place-sell
          class="h-full overflow-hidden"
        ></app-market-place-sell>
      </app-tab>
    </app-tabs>
  </div>
</div>
