<div class="flex h-full flex-col gap-4 rounded-md">
  <!--inventory header-->
  <div class="flex items-center justify-between">
    <app-default-header
      section="Character"
      title="Inventory"
      text="{{ this.state.items().length }} items"
      icon="character/inventory"
    ></app-default-header>
    <div class="flex items-center gap-2 pr-4">
      <span
        class="cursor-help text-primary underline decoration-dotted"
        appHelp="scrap_mode"
        >?</span
      >
      <app-regular-button
        [variant]="variant"
        [text]="inventoryMode"
        (pressed)="switchMode()"
      >
      </app-regular-button>
    </div>
  </div>
  <!--inventory-->
  <div
    class="flex h-full flex-col justify-between gap-2 overflow-y-auto rounded-md pr-4 pt-2 sm:flex-row-reverse"
  >
    <div
      *ngIf="inventoryMode === 'Regular Mode'"
      class="flex flex-col items-center space-y-2 rounded-md bg-black/40 pt-4"
    >
      <h2 class="primary-gradient text-2xl">Equipment</h2>
      <img
        src="core/Divider.svg"
        alt="Logo"
        class="center w-60 object-contain"
      />
      <app-equipment-overview></app-equipment-overview>
    </div>
    <div
      *ngIf="inventoryMode === 'Scrap Mode'"
      class="flex w-96 flex-col items-center space-y-2 rounded-md bg-black/40 p-4"
    >
      <h2 class="primary-gradient text-2xl">Scrap list</h2>
      <img
        src="core/Divider.svg"
        alt="Logo"
        class="center w-60 object-contain"
      />
      <label class="text-center italic text-zinc-300">
        The following items will be permanently destroyed:
      </label>
      <ul class="h-full w-full overflow-y-auto">
        <li *ngFor="let item of selectedItems">
          <app-item [item]="item.itemInstance"></app-item>
        </li>
      </ul>
      <div class="w-full">
        <label class="italic text-zinc-300"
          >Total tempered scrap: {{ selectedItems.length }}</label
        >
        <app-regular-button
          fullWidth=""
          text="Scrap items"
          [disabled]="!selectedItems.length || state.loading()"
          (pressed)="scrapEquipment()"
        ></app-regular-button>
      </div>
    </div>
    <div
      class="flex h-full min-h-96 w-full flex-col rounded-md bg-black/40 pt-2"
    >
      <app-filter-tabs
        [tabs]="tabLabels"
        [activeTab]="activeTab"
        (tabSelected)="setActiveTab($event)"
        class="flex-none"
      ></app-filter-tabs>
      <div
        *ngIf="inventoryMode === 'Scrap Mode'"
        class="flex w-full items-center justify-between border-b border-zinc-300/30 px-4 pt-1 text-white shadow-lg"
      >
        <div>
          Selected: {{ selectedItems.length }} item{{
            selectedItems.length !== 1 ? "s" : ""
          }}
        </div>
        <div class="flex items-center space-x-3">
          <div>
            <select
              class="rounded border border-zinc-500 bg-neutral-900"
              [(ngModel)]="scrapRarityThreshold"
              (change)="selectAllBelowRarity()"
            >
              <option *ngFor="let rarity of rarities" [value]="rarity">
                {{ rarity }}
              </option>
            </select>
            <span class="text-sm text-zinc-300"> and below</span>
          </div>
        </div>
      </div>
      <div
        class="mb-2 flex h-full flex-col justify-items-center overflow-y-auto"
      >
        <ng-container *ngFor="let inventoryItem of filteredItems">
          <div class="flex w-full items-center gap-2">
            <app-inventory-item
              class="w-full"
              [inventoryItem]="inventoryItem"
            ></app-inventory-item>
            <ng-container *ngIf="inventoryMode === 'Scrap Mode'">
              <div
                (click)="toggleSelectItem(inventoryItem)"
                class="mr-2 flex cursor-pointer rounded-full border border-zinc-300/30 px-2 py-1 transition-colors hover:bg-zinc-300/30"
              >
                <ng-container
                  *ngIf="selectedItemsContains(inventoryItem); else notSelected"
                >
                  <span class="text-sm text-primary">Deselect</span>
                </ng-container>
                <ng-template #notSelected>
                  <span class="text-sm text-primary">Select</span>
                </ng-template>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
