<div class="flex h-full flex-col gap-4 rounded-md">
  <!--inventory header-->
  <app-default-header
    title="Inventory & Equipment"
    text="{{ this.state.items().length }} items"
    icon="character/inventory"
  ></app-default-header>
  <!--inventory-->
  <div
    class="flex h-full flex-col justify-between gap-2 overflow-y-auto rounded-md pt-2 sm:flex-row-reverse"
  >
    <div
      class="flex flex-col items-center space-y-3 rounded-md bg-black/40 pt-4"
    >
      <h2 class="primary-gradient text-2xl">Equipment</h2>
      <img
        src="core/Divider.svg"
        alt="Logo"
        class="center w-60 object-contain"
      />
      <app-equipment-overview></app-equipment-overview>
    </div>
    <div
      class="flex h-full min-h-96 w-full flex-col rounded-md bg-black/40 pt-2"
    >
      <app-tab
        [tabs]="tabLabels"
        [activeTab]="activeTab"
        (tabSelected)="setActiveTab($event)"
        class="flex-none"
      ></app-tab>

      <div
        class="mb-2 flex h-full flex-col justify-items-center overflow-y-auto"
      >
        <app-inventory-item
          *ngFor="let inventoryItem of filteredItems"
          [inventoryItem]="inventoryItem"
        ></app-inventory-item>
      </div>
    </div>
  </div>
</div>
