<div
  class="max-w-xl rounded-lg border border-primary bg-texture p-6 text-primary"
>
  <!-- Modal Header -->
  <div class="mb-4 flex items-start justify-between">
    <div>
      <h2 class="text-xl font-bold">Absorb Essence</h2>
      <p class="italic">
        Choose which Essence to absorb to unlock its combat abilities.
      </p>
    </div>
    <button (click)="onClose()" class="text-xl font-bold">&times;</button>
  </div>
  <div class="border-t border-light_gray pb-2"></div>
  <!-- Modal Body -->
  <div class="space-y-4">
    <!-- List of Essences -->
    <div
      *ngIf="essences && essences.length; else noEssences"
      class="flex flex-col gap-2"
    >
      <div class="flex items-center gap-2" *ngFor="let essence of essences">
        <div
          (click)="onSelectEssence(essence)"
          class="h-full w-full rounded-md border border-primary p-2 hover:cursor-pointer"
          [ngClass]="{
            'border-transparent hover:border-primary/30':
              essence !== selectedEssence,
            'border-primary': essence === selectedEssence,
          }"
        >
          <div>
            <h3 class="text-lg font-semibold">{{ essence.name }}</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- Fallback if there are no essences -->
    <ng-template #noEssences>
      <p class="text-slate-300">No essences available.</p>
    </ng-template>
  </div>

  <!-- Modal Footer -->
  <div class="mt-6 flex justify-end gap-2">
    <button (click)="onClose()" class="rounded bg-light px-4 py-2 text-white">
      Close
    </button>
    <button
      class="rounded bg-light px-4 py-2 text-white"
      [disabled]="!selectedEssence"
      [ngClass]="{
        'bg-light_gray/10 text-white/10': !selectedEssence,
      }"
      (click)="onAbsorb()"
    >
      Absorb
    </button>
  </div>
</div>
