<div class="flex flex-col gap-2">
  <h3 class="text-primary">{{ upgradeType }} Upgrades</h3>
  <div class="flex gap-4">
    <div
      class="flex h-32 w-80 flex-col justify-between gap-2 rounded-md border border-zinc-300/30 p-4"
      *ngFor="let view of upgrades"
    >
      <div class="flex justify-between">
        <div>{{ view.definition.name }}</div>
        <div class="group relative flex sm:inline-block">
          <button class="cursor-pointer border-none bg-transparent p-0">
            <img src="icons/Info.svg" class="size-6" />
          </button>
          <div
            class="absolute right-full top-0 hidden rounded border border-light_gray bg-texture p-2 text-sm text-white shadow group-hover:block sm:w-56"
          >
            {{ view.definition.description }}
          </div>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="flex flex-col justify-end gap-2">
          <span
            >Effect: {{ view.definition.effect.perLevel > 0 ? "+" : ""
            }}{{ view.definition.effect.perLevel }}% per level</span
          >
          <span
            >Level: {{ view.level }}/{{ view.definition.maxLevel }} ({{
              view.definition.effect.perLevel > 0 ? "+" : ""
            }}{{
              (view.level * view.definition.effect.perLevel).toFixed(1)
            }}%)</span
          >
        </div>
        <div class="flex flex-col items-end justify-end place-self-end">
          <label> Cost {{ view.nextCost }} Soulstones</label>
          <div
            class="rounded-md border border-light_gray p-2 text-primary hover:cursor-pointer hover:bg-zinc-600/30"
            (click)="upgrade(view)"
            [ngClass]="{
              'pointer-events-none cursor-not-allowed opacity-40 hover:bg-transparent':
                disablePurchase(view),
            }"
          >
            Upgrade
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
