<aside class="border-gradient flex w-full sm:w-80 sm:rounded-tr-md">
  <div
    class="mt-[1px] flex flex-auto flex-col bg-texture bg-auto text-primary sm:rounded-tr-md"
  >
    <div class="flex min-h-16 items-center justify-center p-2">
      <div *ngIf="currentAction" class="flex items-center">
        <h3
          class="rounded-lg px-4 py-2 hover:cursor-pointer"
          (click)="toggleSidebar()"
          (click)="navigateToCombat()"
        >
          Active {{ currentAction.characterActionType }}
        </h3>
      </div>
    </div>
    <app-tab
      [tabs]="tabLabels"
      [activeTab]="activeTab"
      (tabSelected)="setActiveTab($event)"
    >
    </app-tab>
    <!-- Tab Content -->
    <div *ngFor="let tab of tabs" class="overflow-auto">
      <div *ngIf="activeTab === tab.label" class="tab-content">
        <div
          *ngFor="let item of tab.items"
          class="flex flex-col first:border-t first:border-gray"
        >
          <app-sidebar-item
            (click)="toggleSidebar()"
            [item]="item"
            [routerLink]="['/game/', item.route, item.id]"
            (click)="navigateTo(item.id)"
            class="text-light_gray"
            [isActive]="activeItem === item.id"
          ></app-sidebar-item>
        </div>
      </div>
    </div>
  </div>
</aside>
