<div class="flex w-full flex-col">
  <div class="flex flex-col items-center justify-center space-y-2 pb-4">
    <h2 class="primary-gradient text-2xl">Attributes</h2>
    <img src="core/Divider.svg" alt="Logo" class="center w-60 object-contain" />
  </div>
  <div class="flex w-full flex-col gap-4 sm:flex-row">
    <div
      *ngIf="attributes | groupAttributesByCategory as grouped"
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3"
    >
      <ng-container
        *ngFor="
          let category of [
            'Offensive',
            'Defensive',
            'Vitality',
            'Utility',
            'Resistance',
          ]
        "
      >
        <div *ngIf="grouped[category]?.length ?? 0 > 0" class="flex flex-col">
          <h3 class="text-lg font-semibold text-secondary">{{ category }}</h3>
          <ul class="flex flex-col divide-y divide-secondary/10">
            <li
              *ngFor="let attribute of grouped[category]"
              class="flex w-full justify-between gap-4 px-2 py-1"
            >
              <app-attribute-display
                class="w-full"
                [attribute]="attribute"
              ></app-attribute-display>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>
</div>
