<div class="flex w-full flex-col">
  <div class="flex flex-col items-center justify-center space-y-3 pb-4">
    <h2 class="primary-gradient text-2xl">Attributes</h2>
    <img src="core/Divider.svg" alt="Logo" class="center w-60 object-contain" />
  </div>
  <div class="flex w-full flex-col gap-4">
    <div class="flex w-full flex-col gap-4 sm:flex-row">
      <ul class="flex w-full flex-col">
        <li
          class="flex w-full justify-between gap-4 odd:bg-secondary/10 even:bg-secondary/5"
          *ngFor="
            let attribute of (attributes | primaryAttributes).slice(
              0,
              (attributes | primaryAttributes).length / 2
            )
          "
        >
          <app-attribute-display
            class="w-full"
            [attribute]="attribute"
          ></app-attribute-display>
        </li>
      </ul>
      <ul class="flex w-full flex-col">
        <li
          class="flex w-full justify-between gap-4 odd:bg-secondary/5 even:bg-secondary/10"
          *ngFor="
            let attribute of (attributes | primaryAttributes).slice(
              (attributes | primaryAttributes).length / 2
            )
          "
        >
          <app-attribute-display
            class="w-full"
            [attribute]="attribute"
          ></app-attribute-display>
        </li>
      </ul>
    </div>
    <div class="flex w-full flex-col gap-4 sm:flex-row">
      <ul class="flex w-full flex-col">
        <li
          class="flex w-full justify-between gap-4 odd:bg-secondary/10 even:bg-secondary/5"
          *ngFor="
            let attribute of (attributes | secondaryAttributes).slice(
              0,
              (attributes | secondaryAttributes).length / 2
            )
          "
        >
          <app-attribute-display
            class="w-full"
            [attribute]="attribute"
          ></app-attribute-display>
        </li>
      </ul>
      <ul class="flex w-full flex-col">
        <li
          class="flex w-full justify-between gap-4 odd:bg-secondary/5 even:bg-secondary/10"
          *ngFor="
            let attribute of (attributes | secondaryAttributes).slice(
              (attributes | secondaryAttributes).length / 2
            )
          "
        >
          <app-attribute-display
            class="w-full"
            [attribute]="attribute"
          ></app-attribute-display>
        </li>
      </ul>
    </div>
  </div>
</div>
