<div
  class="group relative flex w-full items-center justify-between px-2 py-1 text-primary hover:bg-zinc-900/50 focus:outline-none"
>
  <div>{{ attribute.attributeType | attributeTypeFormat }}</div>
  <div class="text-white">{{ attribute.value }}</div>

  <!-- tooltip wrapper -->
  <div
    *ngIf="tooltip.length"
    class="pointer-events-none absolute left-1/2 top-6 z-10 flex -translate-x-1/2 translate-y-2 flex-col items-center opacity-0 transition-all duration-150 ease-out group-hover:opacity-100 group-focus:translate-y-0 group-focus:opacity-100"
  >
    <!-- arrow -->
    <div
      class="mb-[-4px] h-2 w-2 rotate-45 border border-light_gray bg-zinc-800/90"
    ></div>

    <!-- bubble -->
    <div
      class="space-y-1 whitespace-pre rounded-md border border-light_gray bg-zinc-800/90 p-1 text-white shadow-lg backdrop-blur-sm"
    >
      <div *ngFor="let c of tooltip">
        +{{ c.value }} {{ c.to | attributeTypeFormat }}
      </div>
    </div>
  </div>
</div>
