<div
  class="relative inline-block"
  #origin
  [attr.aria-haspopup]="true"
  [attr.aria-expanded]="overlayRef ? 'true' : 'false'"
  (click)="onOriginClick($event)"
  (mouseenter)="onOriginEnter()"
  (mouseleave)="onOriginLeave()"
>
  <ng-content></ng-content>
</div>

<ng-template #content>
  <div
    class="relative"
    [ngClass]="popoverClass"
    (mouseenter)="onPanelEnter()"
    (mouseleave)="onPanelLeave()"
    role="dialog"
  >
    <ng-container *ngTemplateOutlet="template"></ng-container>

    <div
      *ngIf="hasArrow"
      class="popover-arrow"
      [ngClass]="placement$ | async"
    ></div>
  </div>
</ng-template>
