<div
  [ngClass]="originClass"
  #origin
  [attr.aria-haspopup]="disabled ? null : true"
  [attr.aria-expanded]="overlayRef ? 'true' : 'false'"
  (click)="onOriginClick($event)"
  (pointerenter)="onOriginEnter($event)"
  (pointerleave)="onOriginLeave()"
>
  <ng-content></ng-content>
</div>

<ng-template #content>
  <div
    class="relative"
    [ngClass]="popoverClass"
    (mouseenter)="onPanelEnter()"
    (mouseleave)="onPanelLeave()"
    role="dialog"
  >
    <ng-container *ngTemplateOutlet="template"></ng-container>

    <div
      *ngIf="hasArrow"
      class="popover-arrow"
      [ngClass]="placement$ | async"
    ></div>
  </div>
</ng-template>
