<div
  [ngClass]="originClass"
  #origin
  [attr.role]="trigger === 'click' ? 'button' : null"
  [attr.tabindex]="
    disabled ? -1 : trigger === 'click' || originFocusable ? 0 : null
  "
  [attr.aria-haspopup]="!disabled && trigger === 'click' ? 'dialog' : null"
  [attr.aria-expanded]="trigger === 'click' ? !!overlayRef : null"
  [attr.aria-controls]="trigger === 'click' && overlayRef ? id : null"
  [attr.aria-describedby]="trigger === 'hover' && overlayRef ? id : null"
  (pointerdown)="onOriginPointerDown($event)"
  (click)="onOriginClick($event)"
  (focus)="onOriginFocus()"
  (blur)="onOriginBlur()"
  (keydown)="onOriginKeydown($event)"
  (pointerenter)="onOriginEnter($event)"
  (pointerleave)="onOriginLeave($event)"
>
  <ng-content></ng-content>
</div>

<ng-template #content>
  <div
    class="relative max-h-[calc(100dvh-1rem)] max-w-[calc(100vw-1rem)] overflow-y-auto overscroll-contain"
    [ngClass]="popoverClass"
    [id]="id"
    (mouseenter)="onPanelEnter()"
    (mouseleave)="onPanelLeave()"
    [attr.role]="trigger === 'hover' ? 'tooltip' : 'dialog'"
  >
    <button
      *ngIf="openedByTouch"
      type="button"
      class="sticky top-0 z-20 float-right ml-2 flex h-8 w-8 items-center justify-center rounded border border-light_gray bg-black/90 text-lg leading-none text-primary shadow"
      aria-label="Close item details"
      (click)="close()"
    >
      &times;
    </button>
    <ng-container *ngTemplateOutlet="template"></ng-container>

    <div
      *ngIf="hasArrow"
      class="popover-arrow"
      [ngClass]="placement$ | async"
    ></div>
  </div>
</ng-template>
