<div
  *ngIf="isGatheringAction"
  class="border-gradient w-full rounded-md py-[1px] sm:w-52"
>
  <div
    class="rounded-md bg-cover bg-center px-3 py-2 text-white"
    style="
      background-image: linear-gradient(to bottom, #00000095 50%, #1f150c95),
        url(&quot;core/Light.svg&quot;);
    "
  >
    <label>Cutting: Oak</label>
    <div class="flex justify-between">
      <div class="flex w-full items-center gap-2 rounded-md">
        <label class="block w-12 text-nowrap text-center">{{
          remainingTime
        }}</label>
        <app-progress-bar
          class="w-14"
          (remainingTimeChange)="onRemainingTimeChange($event)"
        >
        </app-progress-bar>
      </div>
      <label
        class="cursor-pointer text-primary underline"
        (click)="stopAction()"
        >Cancel</label
      >
    </div>
  </div>
</div>
