<div class="ll-item-row min-h-9 gap-2 px-2 py-1 text-sm">
  <img
    *ngIf="equipmentIconPath"
    [src]="equipmentIconPath"
    [alt]="equipmentIcon + ' slot'"
    class="center w-4 object-contain"
  />
  <img
    *ngIf="isEssence"
    src="icons/items/essence-item.svg"
    alt="essence item"
    class="center w-4 object-contain"
  />

  <app-item [item]="inventoryItem.itemInstance"></app-item>
  <div *ngIf="!isEquipment" class="ll-item-chip ml-auto">
    x{{ inventoryItem.quantity | numberFormat }}
  </div>
</div>
