<div
  class="flex min-h-9 w-full items-center gap-2 border-b border-light_gray/20 px-2 py-1 text-sm hover:cursor-pointer hover:bg-zinc-600/30"
>
  <img
    *ngIf="equipmentIconPath"
    [src]="equipmentIconPath"
    [alt]="equipmentIcon + ' slot'"
    class="center w-4 object-contain"
  />
  <img
    *ngIf="isEssence"
    src="icons/items/essence-item.svg"
    alt="essence item"
    class="center w-4 object-contain"
  />

  <app-item [item]="inventoryItem.itemInstance"></app-item>
  <div *ngIf="!isEquipment" class="ml-auto text-zinc-100">
    x{{ inventoryItem.quantity | numberFormat }}
  </div>
</div>
