<div
  class="flex h-full items-center justify-center bg-cover bg-center"
  style="background-image: url(&quot;landing/loginbackground.png&quot;)"
>
  <div
    class="flex h-full max-h-[50rem] w-full max-w-xl flex-col items-center rounded-lg backdrop-blur-sm"
    style="background-image: url(&quot;landing/blur.svg&quot;)"
  >
    <div class="my-8 flex justify-center pt-8">
      <img src="core/Logo.svg" alt="Logo" class="h-28 w-28 object-contain" />
    </div>
    <div class="flex flex-col items-center justify-center space-y-3 pb-12">
      <h2 class="primary-gradient text-2xl">Welcome to Legend's Legacy</h2>
      <img
        src="core/Divider.svg"
        alt="Logo"
        class="center w-60 object-contain"
      />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="mt-2">
      <label
        class="group relative flex h-12 w-full items-center border border-[#494949] bg-gray focus-within:border-[#B57D0B]"
        [ngClass]="{
          'border-[#D72E34]': loginError || validateEmail(),
          'border-[#494949]': !loginError,
        }"
      >
        <p class="cursor-text pl-3 text-[#D1D1D1]">Email</p>
        <input
          data-1p-ignore
          matInput
          (input)="resetLoginError()"
          aria-label="Email address"
          type="email"
          required
          class="relative ml-auto h-full w-full appearance-none bg-gray pr-3 text-right text-white focus:z-10 focus:outline-none sm:text-sm sm:leading-5"
          formControlName="email"
        />
      </label>
      <div *ngIf="validateEmail()" class="mt-1 text-sm text-[#D72E34]">
        Incorrect Email format
      </div>
      <label
        class="group relative mt-4 flex h-12 w-full items-center border bg-gray focus-within:border-[#B57D0B]"
        [ngClass]="{
          'border-[#D72E34]': loginError || validatePassword(),
          'border-[#494949]': !loginError,
        }"
      >
        <p class="cursor-text pl-3 text-[#D1D1D1]">Password</p>
        <input
          data-1p-ignore
          matInput
          (input)="resetLoginError()"
          aria-label="Password"
          type="password"
          required
          class="relative ml-auto h-full w-full appearance-none bg-gray pr-3 text-right text-white focus:z-10 focus:outline-none sm:text-sm sm:leading-5"
          formControlName="password"
        />
      </label>
      <div *ngIf="validatePassword()" class="mt-1 text-sm text-[#D72E34]">
        Incorrect Password format
      </div>

      <div class="mt-2 flex items-center justify-between">
        <!-- <div class="flex items-center">
          <input
            id="remember_me"
            type="checkbox"
            class="form-checkbox h-4 w-4 accent-primary transition duration-150 ease-in-out"
          />
          <label
            for="remember_me"
            class="ml-2 block text-sm leading-5 text-ancient-secondary"
          >
            Remember me
          </label>
        </div> -->

        <div class="text-sm leading-5">
          <button
            href="#"
            class="font-medium text-ancient-secondary hover:text-ancient-primary focus:underline focus:outline-none"
          >
            Forgot password?
          </button>
        </div>
      </div>

      <div class="mt-12">
        <app-button
          type="submit"
          [disabled]="!loginForm.valid"
          text="LOG IN"
        ></app-button>
      </div>

      <button
        routerLink="/signup"
        class="my-8 w-full text-center text-primary underline focus:outline-none"
      >
        New to Legend's Legacy? Sign up!
      </button>
    </form>

    <!-- <div class="mt-4 flex justify-center">
      <button
        type="button"
        class="hover:bg-gray-200 focus:ring-gray-500 flex items-center rounded-lg bg-white px-4 py-2 text-black shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75"
      >
        <img src="/assets/google-logo.png" alt="Google Logo" class="mr-2 h-5" />
        Continue with Google
      </button>
    </div> -->
    <div class="mt-4 flex justify-center">
      <button
        (click)="loginAsGuest()"
        type="button"
        class="hover:bg-gray-200 focus:ring-gray-500 flex items-center rounded-lg bg-white px-4 py-2 text-black shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75"
      >
        Login as Guest
      </button>
    </div>
  </div>
</div>
