<div class="flex flex-col gap-2">
  <!-- Essence Name -->
  <h2 class="text-primary">
    {{ essence.name }}
  </h2>
  <!-- Description -->
  <div class="">
    <div class="font-bold">Active - {{ essence.active.name }}</div>
    <app-essence-description
      [description]="essence.active.description"
    ></app-essence-description>
    <div class="flex gap-1">
      <p>Cost:</p>
      <p
        [ngClass]="{
          'text-blue-400': essence.active.cost.type === 'Mana',
          'text-red-500': essence.active.cost.type === 'Health',
        }"
      >
        {{ essence.active.cost.amount }} {{ essence.active.cost.type }}
      </p>
    </div>
    <p>
      Cooldown:
      {{ essence.active.cooldown | ticksToSeconds }} seconds
    </p>
    <span class="flex" *ngIf="essence.active.attackTypes.length">
      [<ng-container *ngFor="let tag of essence.active.attackTypes">
        <span class="pr-1 first:hidden">, </span>{{ tag }}</ng-container
      >]
    </span>
    <span class="flex" *ngIf="essence.active.damageTypes.length">
      [<ng-container *ngFor="let tag of essence.active.damageTypes">
        <span class="pr-1 first:hidden">, </span>{{ tag }}</ng-container
      >]
    </span>
    <span class="flex" *ngIf="essence.active.effectTags.length">
      [<ng-container *ngFor="let tag of essence.active.effectTags">
        <span class="pr-1 first:hidden">, </span>{{ tag }}</ng-container
      >]
    </span>
  </div>
  <div class="">
    <div class="font-bold">Passive - {{ essence.passive.name }}</div>
    <app-essence-description
      [description]="essence.passive.description"
    ></app-essence-description>
    <span class="flex" *ngIf="essence.passive.attackTypes.length">
      [<ng-container *ngFor="let tag of essence.passive.attackTypes">
        <span class="pr-1 first:hidden">, </span>{{ tag }}</ng-container
      >]
    </span>
    <span class="flex" *ngIf="essence.passive.damageTypes.length">
      [<ng-container *ngFor="let tag of essence.passive.damageTypes">
        <span class="pr-1 first:hidden">, </span>{{ tag }}</ng-container
      >]
    </span>
    <span class="flex" *ngIf="essence.passive.effectTags.length">
      [<ng-container *ngFor="let tag of essence.passive.effectTags">
        <span class="pr-1 first:hidden">, </span>{{ tag }}</ng-container
      >]
    </span>
  </div>
  <!-- Attributes -->
  <div *ngIf="essence.attributeModifiers.length > 0">
    <div class="font-bold">Attributes:</div>
    <ul class="ml-5 list-disc text-sm">
      <li *ngFor="let attr of essence.attributeModifiers">
        {{ attr.amount > 0 ? "+" : "" }}{{ attr.amount }}
        {{ attr.attributeType | attributeTypeFormat }}
      </li>
    </ul>
  </div>
</div>
