<nav class="sidebar w-64 h-screen flex flex-col items-center justify-center p-4 bg-white/20" style="font-family: Lato;">
  <ul class="space-y-4 text-center">
    <li>
      <a routerLink="/" routerLinkActive="active" class="text-white hover:bg-gray-700 rounded-lg p-2">Dashboard</a>
    </li>
    <li>
      <a routerLink="/creatures" routerLinkActive="active" class="text-white hover:bg-gray-700 rounded-lg p-2">Creatures</a>
    </li>
    <li>
      <a routerLink="/regions" routerLinkActive="active" class="text-white hover:bg-gray-700 rounded-lg p-2">Regions</a>
    </li>
  </ul>
</nav>