<div
  class="flex min-h-10 w-full min-w-0 items-center gap-3 rounded px-3 py-2 text-white transition-colors hover:cursor-pointer hover:bg-black/40"
  (click)="openModal()"
>
  <div
    *ngIf="equipmentIconPath || isEssence"
    class="flex h-7 w-7 flex-none items-center justify-center rounded border border-light_gray/60 bg-black/30"
  >
    <img
      *ngIf="equipmentIconPath"
      [src]="equipmentIconPath"
      [alt]="equipmentIcon + ' slot'"
      class="center w-4 object-contain"
    />
    <img
      *ngIf="isEssence"
      src="icons/items/essence-item.svg"
      alt="essence item"
      class="center w-4 object-contain"
    />
  </div>

  <div class="min-w-0 flex-1">
    <app-item [item]="inventoryItem.itemInstance"></app-item>
  </div>

  <div
    *ngIf="!isEquipment"
    class="flex-none rounded border border-light_gray/60 bg-black/30 px-2 py-0.5 text-xs text-secondary"
  >
    x{{ inventoryItem.quantity }}
  </div>
</div>
