<div
  class="flex w-full items-center gap-1 p-2 hover:cursor-pointer hover:bg-neutral-600/50"
  (click)="openModal()"
>
  <img
    *ngIf="isEquipment"
    src="icons/equipment-slots/empty_{{ equipmentIcon }}.svg"
    alt="empty_equipment"
    class="center w-4 object-contain"
  />
  <img
    *ngIf="isEssence"
    src="icons/items/{{ inventoryItem.itemInstance.itemBase.iconPath }}"
    alt="empty_equipment"
    class="center w-4 object-contain"
  />

  <app-item [item]="inventoryItem.itemInstance"></app-item>
  <div *ngIf="inventoryItem.quantity > 1" class="rounded-full pl-1 text-white">
    x{{ inventoryItem.quantity }}
  </div>
</div>
