@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply select-none;
  }
}

html {
  font-size: 14px;
}

html,
body {
  height: 100dvh;
}
body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  line-height: 150%;
  font-weight: 400;
  font-size: 14px;
  user-select: none;
  overflow-x: hidden;
}
