<div
  class="grid w-full grid-cols-4 gap-2 p-2 hover:cursor-pointer hover:bg-neutral-600/50"
>
  <div class="col-start-1 col-end-3 flex gap-1">
    <app-item [item]="listing.itemInstance"></app-item>
    <ng-container
      *ngIf="characterState.currentCharacterId() === listing.sellerId"
      >(Yours)</ng-container
    >
  </div>
  <div>
    <div class="rounded-full pl-1 text-white">x{{ listing.quantity }}</div>
  </div>

  <!-- Price (aligned right) -->
  <div class="ml-auto flex items-center gap-1">
    <!-- <img src="icons/ui/gold.svg" alt="gold" class="h-4 w-4 object-contain" /> -->
    <div>{{ listing.unitPrice | numberFormat }}</div>
  </div>
</div>
