<header class="bg-royal-primary p-5">
  <div class="container mx-auto flex justify-between items-center">
    <h1
      class="text-3xl font-bold text-blood-primary pr-2 hover:text-blood-secondary cursor-default hover:cursor-pointer"
    >
      <button routerLink="/">Legend's Legacy</button>
    </h1>
    <nav>
      <ul class="flex space-x-8 items-center text-ancient-primary">
        <li>
          <button
            routerLink="world"
            class="hover:text-blood-primary"
            routerLinkActive="text-blood-primary"
          >
            World
          </button>
        </li>
        <li>
          <button
            routerLink="roadmap"
            routerLinkActive="text-blood-primary"
            class="hover:text-blood-primary"
          >
            Roadmap
          </button>
        </li>
        <li>
          <button
            routerLink="faq"
            class="hover:text-blood-primary"
            routerLinkActive="text-blood-primary"
          >
            FAQ
          </button>
        </li>
        <li>
          <button
            routerLink="login"
            routerLinkActive="text-blood-primary"
            class="hover:text-blood-primary"
          >
            Login
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
