<button
  routerLink="{{ link }}"
  routerLinkActive="text-primary"
  #rla="routerLinkActive"
  class="p-2"
  (click)="updateSidebar()"
>
  <div class="hidden items-center sm:flex">
    <img
      [src]="rla.isActive ? activeIcon : inactiveIcon"
      class="h-6 w-6 pb-[2px]"
    />
    <h2>{{ label }}</h2>
  </div>
  <div class="flex flex-col items-center sm:hidden">
    <img
      [src]="rla.isActive ? activeIcon : inactiveIcon"
      class="h-4 w-4 pb-[2px]"
    />
    <h3>{{ label }}</h3>
  </div>
</button>
