<div class="flex h-full flex-col space-y-2 pr-4 sm:pr-6">
  <div class="flex w-full flex-col">
    <app-banner image="tavern" bgPosition="bg-left" class="w-full"></app-banner>
  </div>
  <app-filter-tabs
    [tabs]="tabLabels"
    [activeTab]="activeTab"
    (tabSelected)="setActiveTab($event)"
    class="w-full"
  ></app-filter-tabs>
  <app-regular-button
    (pressed)="refresh()"
    [disabled]="state.loading()"
    class="place-self-end"
    text="Refresh"
  >
  </app-regular-button>
  <div class="flex h-full w-full flex-col overflow-hidden">
    <div class="flex-none text-white"></div>

    <app-leaderboard
      class="h-full"
      [title]="activeTab"
      [data]="rows"
      [columns]="columns"
      [highlightId]="highlightId"
    >
    </app-leaderboard>
    <div class="flex flex-col items-center justify-center gap-4"></div>
  </div>
</div>
