<div class="flex flex-col gap-2">
  <h2 class="pl-2 text-primary">Absorbed Essences</h2>
  <div
    class="grid grid-cols-5 gap-4 rounded-md border border-primary p-4 sm:grid-cols-10"
  >
    <div
      class="hover:bg-accent flex flex-col items-center border-b-[1px] border-b-transparent p-2 transition hover:border-primary"
      *ngFor="let essenceSlot of essenceSlots"
    >
      <p
        class="text-center font-bold text-primary hover:cursor-pointer"
        (click)="openEssenceModal(essenceSlot.occupiedEssence)"
      >
        {{ essenceSlot.occupiedEssence?.name }}
      </p>
    </div>
  </div>
</div>
