<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/50"
  *ngIf="isModalOpen"
  (click)="onOverlayClick($event)"
>
  <div class="w-full sm:w-1/3" (click)="$event.stopPropagation()">
    <app-essence-modal
      *ngIf="essence"
      [essence]="essence"
      (close)="onEssenceModalClose()"
    ></app-essence-modal>

    <app-absorb-essence-modal
      *ngIf="absorbEssence"
      [essences]="absorbEssence"
      (close)="onAbsorbEssenceModalClose()"
    ></app-absorb-essence-modal>

    <app-remove-essence-modal
      *ngIf="removeEssence"
      [essences]="removeEssence"
      (close)="onRemoveEssenceModalClose()"
    ></app-remove-essence-modal>
  </div>
</div>
