<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/70"
  *ngIf="isModalOpen"
  (click)="onOverlayClick($event)"
>
  <div class="w-full sm:w-2/3 lg:w-2/5" (click)="$event.stopPropagation()">
    <app-essence-modal
      *ngIf="essence"
      [essence]="essence"
      (close)="onEssenceModalClose()"
    ></app-essence-modal>

    <app-absorb-essence-modal
      *ngIf="absorbEssence"
      [essences]="absorbEssence"
      (close)="onAbsorbEssenceModalClose()"
    ></app-absorb-essence-modal>

    <app-remove-essence-modal
      *ngIf="removeEssence"
      [essences]="removeEssence"
      (close)="onRemoveEssenceModalClose()"
    ></app-remove-essence-modal>

    <app-combat-filters-modal
      *ngIf="filterCombat"
      (close)="onEditCombatFiltersModalClose()"
    ></app-combat-filters-modal>
    <app-inventory-equipment-modal
      *ngIf="inventoryEquipment"
      [equipmentInstance]="inventoryEquipment"
      (close)="onInventoryEquipmentModalClose()"
    >
    </app-inventory-equipment-modal>
    <app-overview-equipment-modal
      *ngIf="overviewEquipment"
      [equipmentType]="overviewEquipment"
      (close)="onOverviewEquipmentModalClose()"
      >>
    </app-overview-equipment-modal>
  </div>
</div>
