<div
  class="ll-modal-backdrop z-50 overflow-hidden"
  *ngIf="isModalOpen"
  (click)="onOverlayClick($event)"
>
  <div
    class="max-h-full w-full overflow-hidden sm:w-2/3 lg:w-2/5"
    (click)="$event.stopPropagation()"
  >
    <app-essence-modal
      *ngIf="essence"
      [essence]="essence"
      (close)="onEssenceModalClose()"
    ></app-essence-modal>

    <app-combat-filters-modal
      *ngIf="filterCombat"
      (close)="onEditCombatFiltersModalClose()"
    ></app-combat-filters-modal>
    <app-inventory-equipment-modal
      *ngIf="inventoryEquipment"
      [equipmentInstance]="inventoryEquipment"
      (close)="onInventoryEquipmentModalClose()"
    >
    </app-inventory-equipment-modal>
    <app-overview-equipment-modal
      *ngIf="overviewEquipment"
      [equipmentSlotType]="overviewEquipment"
      (close)="onOverviewEquipmentModalClose()"
    >
    </app-overview-equipment-modal>
  </div>
</div>
