<div
  class="flex h-full flex-col overflow-hidden rounded-md bg-black/40"
  [ngClass]="{ 'animate-pulse': isLoading }"
>
  <div class="flex items-center justify-between px-4 py-2">
    <div class="flex items-center gap-2 py-2 text-primary">
      Battle overview - Filter
      <img
        src="icons/settings/filters.svg"
        alt="Logo"
        class="h-6 w-6 object-contain hover:cursor-pointer"
        (click)="openFilters()"
      />
    </div>
    <app-regular-button
      *ngIf="battleType === 'IdleCombat'"
      class="text-primary"
      [text]="stopCombatButtonText"
      [disabled]="isStoppingCombat"
      (pressed)="initiateStoppingCombat()"
    >
    </app-regular-button>
  </div>
  <div class="chat-gradient mb-4 h-[1px]"></div>
  <div class="overflow-y-auto" appStickyScroll>
    <app-combat-overview-item
      *ngFor="let combatEvent of filteredCombatEvents"
      class="animate-fade-in-up"
      [combatEvent]="combatEvent"
    ></app-combat-overview-item>
    <div #sentinel></div>
  </div>
</div>
