<div
  class="flex h-full w-full flex-col justify-evenly gap-2 overflow-hidden px-4 pt-4 text-white sm:px-6 md:flex-row"
>
  <!-- ESSENCE DESCRIPTION + CRAFTING QUEUE -->
  <div class="flex h-full w-full flex-col space-y-2 overflow-y-auto md:order-2">
    <!-- ESSENCE DESCRIPTION -->
    <div class="rounded-lg border border-light_gray bg-texture p-4">
      <ng-container *ngIf="selectedSlot() as selectedSlot; else noSlotSelected">
        <ng-container
          *ngIf="selectedSlot.occupiedEssence as essence; else emptySlot"
        >
          <app-essence-details [essence]="essence"></app-essence-details>
          <div class="mt-4 flex items-center gap-2">
            <ng-container *ngIf="canEquipSelected() as canEquip; else nothing">
              <app-regular-button
                [disabled]="!canEquipSelected()"
                (pressed)="remove()"
              >
                Remove essence
              </app-regular-button>
            </ng-container>
            <ng-template #nothing>
              <span *ngIf="!canEquipSelected()" class="text-rose-500">
                No essence slots available
              </span>
            </ng-template>
          </div>
        </ng-container>
        <ng-template #emptySlot>
          <div class="italic">This is an empty essence slot.</div>
        </ng-template>
      </ng-container>
      <ng-template #noSlotSelected>
        <div class="text-gray-500 italic">
          Select an essence slot to view details.
        </div>
      </ng-template>
    </div>
  </div>
  <!-- INVENTORY ESSENCES LIST -->
  <div class="flex h-full w-full flex-col space-y-2 overflow-y-auto md:order-1">
    <ng-container *ngIf="activeSlots().length; else noEssences">
      <h2 class="flex text-primary">Active absorbed essences</h2>
      <div
        *ngFor="let slot of activeSlots()"
        class="cursor-pointer rounded-lg border p-3 hover:border-primary/60 hover:bg-zinc-300/30"
        (click)="selectEssence(slot)"
        [class.border-primary]="selectedSlot()?.id === slot.id"
        [ngClass]="{
          'bg-primary/10': selectedSlot()?.id === slot.id,
          'border-primary/20': selectedSlot()?.id !== slot.id,
        }"
      >
        <div class="font-semibold text-white">
          {{ slot.occupiedEssence?.name ?? "Empty" }}
        </div>
        <!-- <div class="text-gray-400 text-sm">
          Lv {{ essence.levelRequirement }}
        </div> -->
      </div>
    </ng-container>
    <ng-template #noEssences>
      <p class="mt-4 text-center italic text-neutral-400">
        You have no essence slots yet.
      </p>
    </ng-template>
    <ng-container *ngIf="reservedSlots().length">
      <h2 class="flex text-primary">Essences in your inventory</h2>
      <div
        *ngFor="let slot of reservedSlots()"
        class="cursor-pointer rounded-lg border p-3 hover:border-primary/60 hover:bg-zinc-300/30"
        (click)="selectEssence(slot)"
        [class.border-primary]="selectedSlot()?.id === slot.id"
        [ngClass]="{
          'bg-primary/10': selectedSlot()?.id === slot.id,
          'border-primary/20': selectedSlot()?.id !== slot.id,
        }"
      >
        <div class="font-semibold text-white">
          {{ slot.occupiedEssence?.name }}
        </div>
        <!-- <div class="text-gray-400 text-sm">
          Lv {{ essence.levelRequirement }}
        </div> -->
      </div>
    </ng-container>
  </div>
</div>
