<div class="flex justify-center items-center h-full">
  <div class="flex-col">
    <h1 class="text-3xl font-bold mb-4">Select a Creature</h1>
    <select class="mb-6 p-2 border-2 border-gray-400" [(ngModel)]="selectedCreature" (change)="selectCreature(selectedCreature)">
      <option *ngFor="let creature of creatures" [ngValue]="creature">
        {{ creature.name }}
      </option>
    </select>
  </div>

  <!-- Detailed view of the selected creature -->
  <div *ngIf="selectedCreature">
    <h2 class="text-2xl font-semibold mb-2">{{ selectedCreature!.name }}</h2>
    <p><strong>Level:</strong> {{ selectedCreature!.level }}</p>
    <p><strong>Experience Reward:</strong> {{ selectedCreature!.experienceReward }}</p>

    <h3 class="text-xl font-semibold mt-4">Base Attributes</h3>
    <ul class="list-disc pl-5">
      <li *ngFor="let attribute of selectedCreature.baseAttributes">
        {{ attribute.attributeType | splitCamelCase}}: {{ attribute.value }}
      </li>
    </ul>
  </div>
</div>