<div
  class="relative flex h-64 w-full overflow-visible rounded-md bg-cover sm:size-64"
  style="
    background-image: url(&quot;cards/combatArea.png&quot;);
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.4);
  "
>
  <div class="absolute p-3 z-10">
    <div class="relative group inline-block">
      <button class="bg-transparent border-none p-0 cursor-pointer">
        <img src="icons/Info.svg" class="size-6" />
      </button>
      <div
        class="absolute left-0 mt-2 hidden w-64 rounded bg-black/80 p-2 text-sm text-white shadow group-hover:block"
      >
        {{ area.description }}
      </div>
    </div>
  </div>


  <div class="relative flex h-full w-full items-end">
    <div
      class="border-gradient absolute w-full rounded-md opacity-70"
      style="height: calc(6rem + 2px); bottom: -1px"
    ></div>
    <div class="absolute flex h-24 w-full overflow-hidden rounded-b-md">
      <div
        class="card-gradient absolute h-full w-full p-4 opacity-50 backdrop-blur-[2px]"
      ></div>
      <div
        class="absolute h-full w-full bg-black/40 p-4 backdrop-blur-[1px]"
      ></div>
    </div>
    <div class="relative flex w-full items-end justify-between p-3 text-white">
      <div class="flex flex-col gap-1 pb-4">
        <div class="flex items-center justify-between">
          <h3>{{ area.name }}</h3>
        </div>
        <small class="text-secondary">Req. LV: 1</small>
        <div class="mt-2 flex items-center">
          <!-- <img
            src="core/currencies/Diamonds.svg"
            alt="Log Icon"
            class="mr-[6px] h-4 w-4"
          />
          <small class="text-primary">+ 1 oak log</small> -->
        </div>
      </div>
      <div class="-mb-2">
        <app-mini-button
          *ngIf="specificCard()"
          class="w-[64px]"
          text="Cancel"
        ></app-mini-button>
        <app-mini-button
          *ngIf="canStartAction()"
          class="w-[64px]"
          text="Battle"
          (click)="startCombat()"
        ></app-mini-button>
      </div>
    </div>
  </div>
</div>
