<div
  class="flex w-full flex-col items-center justify-between gap-2 sm:h-16 sm:flex-row"
>
  <div class="flex w-full items-center text-white">
    <div class="flex items-center gap-6">
      <app-profession-icon
        [decorated]="!icon.startsWith('sidebar/')"
        [image]="icon"
      ></app-profession-icon>
      <div class="flex items-center gap-2 sm:flex-col sm:items-start sm:gap-0">
        <span>Lv. {{ level }}</span>
        <h2 class="text-primary">
          {{ title }}
        </h2>
        <small>{{ experience }}/{{ experienceUntilNextLevel }}xp</small>
      </div>
    </div>
  </div>
  <div class="flex w-full items-center justify-end gap-2 sm:w-auto">
    <app-profession-action></app-profession-action>
    <app-help-launcher
      *ngIf="guidePageId"
      [pageId]="guidePageId"
      presentation="inline"
      [ariaLabel]="'Open ' + title + ' guide'"
    ></app-help-launcher>
  </div>
</div>
