<div
  class="flex w-full flex-col items-center justify-between gap-2 sm:h-16 sm:flex-row"
>
  <div class="flex w-full items-center justify-between text-white">
    <div class="flex items-center gap-6">
      <app-profession-icon [image]="icon"></app-profession-icon>
      <div class="flex items-center gap-2 sm:flex-col sm:items-start sm:gap-0">
        <span>Lv. {{ level }}</span>
        <h2 class="text-primary">
          {{ title }}
        </h2>
        <small>{{ experience }}/{{ experienceUntilNextLevel }}xp</small>
      </div>
    </div>
    <app-help-launcher
      *ngIf="guidePageId"
      [pageId]="guidePageId"
    ></app-help-launcher>
  </div>
  <div class="w-full sm:flex sm:justify-end">
    <app-profession-action></app-profession-action>
  </div>
</div>
