<div class="flex h-full flex-col gap-4 overflow-hidden pb-4 text-white sm:pb-0">
  <app-default-header
    *ngIf="character$ | async as character"
    class="flex-none"
    title="Soulstone Archive"
    icon="character/essences"
  ></app-default-header>
  <div
    class="flex flex-col gap-4 overflow-y-auto pr-4 sm:pr-6"
    *ngIf="soulstoneUpgrades$ | async as soulstoneUpgrades"
  >
    <ng-container *ngIf="character$ | async as character">
      <app-soulstone-upgrade-card
        [upgrades]="(combatUpgrades$ | async) ?? []"
        upgradeType="Combat"
        [character]="character"
      ></app-soulstone-upgrade-card>
      <app-soulstone-upgrade-card
        [upgrades]="(gatheringUpgrades$ | async) ?? []"
        upgradeType="Gathering"
        [character]="character"
      ></app-soulstone-upgrade-card>
      <app-soulstone-upgrade-card
        [upgrades]="(craftingUpgrades$ | async) ?? []"
        upgradeType="Crafting"
        [character]="character"
      ></app-soulstone-upgrade-card>
      <app-soulstone-upgrade-card
        [upgrades]="(miscUpgrades$ | async) ?? []"
        upgradeType="Miscellaneous"
        [character]="character"
      ></app-soulstone-upgrade-card>
    </ng-container>
  </div>
</div>
