<div
  class="flex h-full w-full flex-col overflow-hidden rounded-xl p-4 text-white"
>
  <h2 class="text-primary">Arena Rankings</h2>
  <div class="flex h-full flex-col" *ngIf="rankings?.length; else noRankings">
    <!-- Rankings Header -->
    <div class="grid grid-cols-7 gap-2 p-2">
      <div>Rank</div>
      <div class="col-start-2 col-end-7">Name</div>
      <div class="justify-self-end">Rating</div>
    </div>

    <!-- Top 50 Rankings -->
    <div class="overflow-y-auto">
      <div
        *ngFor="let player of rankings"
        class="grid grid-cols-7 items-center gap-2 border-t border-light_gray p-2"
        [ngClass]="{
          'font-bold text-primary':
            player.characterId === myRanking?.characterId,
            'text-xl py-4': player.rank === 1,
            'text-lg py-3': player.rank === 2,
            'text-base py-2.5': player.rank === 3,
            'text-sm py-2': player.rank > 3
        }"
      >
        <div class="flex-items-center gap-3">
          <ng-container [ngSwitch]="player.rank">
            <img
              *ngSwitchCase="1"
              src="assets/icons/medals/GoldMedalBlackOutline.svg"
              alt="Gold Medal"
              class="h-10 w-10"
            />
            <img
              *ngSwitchCase="2"
              src="assets/icons/medals/SilverMedalBlackOutline.svg"
              alt="Silver Medal"
              class="h-10 w-10"
            />
            <img
              *ngSwitchCase="3"
              src="assets/icons/medals/BronzeMedalBlackOutline.svg"
              alt="Bronze Medal"
              class="h-10 w-10"
            />
            <span *ngSwitchDefault>{{ player.rank }}</span>
          </ng-container>
        </div>

        <div class="col-start-2 col-end-7 break-words">
          {{ player.name
          }}<span *ngIf="player.characterId === myRanking?.characterId">
            (You)</span
          >
        </div>
        <div class="justify-self-end">{{ player.rating }}</div>
      </div>
    </div>
  </div>

  <ng-template #noRankings>
    <p>No rankings available.</p>
  </ng-template>
</div>
