<div
  class="flex h-full w-full flex-col overflow-hidden rounded-xl p-4 text-white"
>
  <h2 class="text-primary">Previous Battles</h2>

  <div
    class="flex h-full flex-col overflow-hidden"
    *ngIf="previousMatches?.length; else noMatches"
  >
    <div
      class="grid grid-cols-4 items-center gap-2 border-b border-light_gray p-2"
    >
      <div>Attacker</div>
      <div>Defender</div>
      <div>Winner</div>
      <div>Played At</div>
    </div>
    <div class="h-full overflow-y-auto">
      <div
        class="grid grid-cols-4 items-center gap-2 overflow-y-auto border-b border-light_gray p-2"
        *ngFor="let match of previousMatches"
      >
        <div>
          <span
            [ngClass]="{
              'text-emerald-400':
                match.characterARatingAfter - match.characterARatingBefore > 0,
              'text-rose-500':
                match.characterARatingAfter - match.characterARatingBefore < 0,
            }"
          >
            {{
              match.characterARatingAfter - match.characterARatingBefore > 0
                ? "+"
                : ""
            }}{{ match.characterARatingAfter - match.characterARatingBefore }}
          </span>
          <div
            class="break-words"
            [ngClass]="{
              'font-bold text-primary': match.characterAId === id,
            }"
          >
            {{ match.characterAName }}
          </div>
        </div>
        <div>
          <span
            [ngClass]="{
              'text-emerald-400':
                match.characterBRatingAfter - match.characterBRatingBefore > 0,
              'text-rose-500':
                match.characterBRatingAfter - match.characterBRatingBefore < 0,
            }"
          >
            {{
              match.characterBRatingAfter - match.characterBRatingBefore > 0
                ? "+"
                : ""
            }}{{ match.characterBRatingAfter - match.characterBRatingBefore }}
          </span>
          <div
            class="break-words"
            [ngClass]="{
              'font-bold text-primary': match.characterBId === id,
            }"
          >
            {{ match.characterBName }}
          </div>
        </div>
        <ng-container *ngIf="match.winnerName; else draw">
          <div
            class="break-words"
            [ngClass]="{
              'font-bold text-primary': match.winnerId === id,
            }"
          >
            {{ match.winnerName
            }}<span *ngIf="match.winnerId === id"> (You)</span>
          </div>
        </ng-container>

        <ng-template #draw>Draw</ng-template>
        <div>
          {{ match.playedAt | date: "mediumDate" }}
        </div>
      </div>
    </div>
  </div>
  <ng-template #noMatches>
    <p>No previous matches.</p>
  </ng-template>
</div>
