<div
  class="group relative flex min-h-14 items-center justify-start border-l-2 bg-cover bg-center px-4 py-2 transition-colors hover:cursor-pointer hover:bg-zinc-300/5 sm:h-[52px] sm:px-3"
  [class.border-transparent]="!isActive"
  [class.border-primary]="isActive"
  [style.background-image]="
    isActive
      ? 'linear-gradient(to bottom, #00000095 50%, #1f150c95), url(core/Light.svg)'
      : 'none'
  "
>
  <app-notification-indicator
    class="absolute right-3 top-2"
    [count]="notificationCount"
  ></app-notification-indicator>

  <div class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full">
    <app-profession-icon
      class="scale-[0.68]"
      [image]="item.icon"
    ></app-profession-icon>
  </div>
  <div class="ml-3 flex min-w-0 flex-col">
    <h3
      class="truncate text-start text-[15px] leading-5 text-primary sm:text-base"
    >
      {{ item.title }}
    </h3>
    <small class="truncate text-[11px] leading-4 text-zinc-300">
      {{ item.description }}
    </small>
    <!-- Placeholder for additional content injected by child components -->
    <ng-content></ng-content>
  </div>
</div>
