<div
  class="flex h-full w-full flex-col justify-evenly gap-2 overflow-hidden px-4 pt-4 text-white sm:px-6 md:flex-row"
>
  <!-- ESSENCE DESCRIPTION -->
  <div class="flex w-full flex-col space-y-2 overflow-y-auto md:order-2">
    <!-- ESSENCE DESCRIPTION -->
    <div class="rounded-lg border border-light_gray bg-texture p-4">
      <ng-container
        *ngIf="selectedEssence() as selectedEssence; else noEssence"
      >
        <div class="flex flex-col gap-2">
          <!-- Essence Name -->
          <h2 class="text-primary">
            {{ selectedEssence.name }}
          </h2>
          <!-- Description -->
          <div class="">
            <div class="font-bold">Active</div>
            <app-essence-description
              [description]="selectedEssence.active.description"
            ></app-essence-description>
          </div>
          <div class="">
            <div class="font-bold">Passive</div>
            <app-essence-description
              [description]="selectedEssence.passive.description"
            ></app-essence-description>
          </div>
          <!-- Attributes -->
          <div *ngIf="selectedEssence.attributeModifiers.length > 0">
            <div class="font-bold">Attributes:</div>
            <ul class="ml-5 list-disc text-sm">
              <li *ngFor="let attr of selectedEssence.attributeModifiers">
                {{ attr.amount > 0 ? "+" : "" }}{{ attr.amount }}
                {{ attr.attributeType | attributeTypeFormat }}
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-4 flex items-center gap-2">
          <ng-container *ngIf="canEquipSelected() as canEquip; else nothing">
            <app-regular-button
              [disabled]="!canEquipSelected()"
              (click)="absorb()"
            >
              Absorb essence
            </app-regular-button>
          </ng-container>
          <ng-template #nothing>
            <span *ngIf="!canEquipSelected()" class="text-rose-500">
              No essence slots available
            </span>
          </ng-template>
        </div>
      </ng-container>
      <ng-template #noEssence>
        <div class="text-gray-500 italic">
          Select an essence to view details.
        </div>
      </ng-template>
    </div>
  </div>
  <!-- INVENTORY ESSENCES LIST -->
  <div class="flex h-full w-full flex-col space-y-2 overflow-y-auto md:order-1">
    <ng-container *ngIf="inventoryEssences().length; else noEssences">
      <h2 class="flex text-primary">Essences in your inventory</h2>
      <div
        *ngFor="let inventoryItem of inventoryEssences()"
        class="cursor-pointer rounded-lg border p-3 hover:border-primary/60 hover:bg-zinc-300/30"
        (click)="selectEssence(inventoryItem)"
        [class.border-primary]="
          selectedEssence()?.id === asEssence(inventoryItem).id
        "
        [ngClass]="{
          'bg-primary/10':
            selectedEssence()?.id === asEssence(inventoryItem).id,
          'border-primary/20':
            selectedEssence()?.id !== asEssence(inventoryItem).id,
        }"
      >
        <div class="flex justify-between font-semibold text-white">
          <div>
            {{ inventoryItem.itemInstance.itemBase.name }}
          </div>
          <div>x{{ inventoryItem.quantity }}</div>
        </div>
        <!-- <div class="text-gray-400 text-sm">
          Lv {{ essence.levelRequirement }}
        </div> -->
      </div>
    </ng-container>
    <ng-template #noEssences>
      <p class="mt-4 text-center italic text-neutral-400">
        You have no essences to absorb.
      </p>
    </ng-template>
  </div>
</div>
