<div
  *ngIf="panes.length > 1"
  class="ll-segmented flex w-full flex-nowrap overflow-x-auto overscroll-x-contain sm:flex-wrap sm:overflow-visible"
  data-tour="tabs-navigation"
  role="tablist"
>
  <button
    type="button"
    *ngFor="let pane of panes; let i = index"
    class="ll-segmented-button min-w-max flex-none sm:flex-1"
    [ngClass]="{ 'll-segmented-button-active': activeIndex() === i }"
    [attr.aria-selected]="activeIndex() === i"
    [attr.tabindex]="activeIndex() === i ? 0 : -1"
    role="tab"
    (click)="select(i)"
    (keydown)="onTabKeydown($event, i)"
  >
    {{ pane.label }}
  </button>
</div>

<!-- Active pane outlet -->
<ng-container *ngFor="let pane of panes; let i = index">
  <ng-container *ngIf="activeIndex() === i">
    <ng-container *ngTemplateOutlet="pane.templateRef"></ng-container>
  </ng-container>
</ng-container>
