<div
  class="flex h-full max-h-52 flex-col overflow-hidden bg-texture text-white"
>
  <div class="p-2 hover:cursor-pointer" (click)="toggle()">
    Loot Tracker {{ expanded() ? "▼" : "▲" }}
  </div>

  <div
    *ngIf="expanded()"
    class="overflow-y-auto border-t border-primary px-2 pt-2"
  >
    <ng-container *ngIf="entries.length > 0; else emptyState">
      <div *ngFor="let entry of entries; trackBy: trackEntry">
        <div class="flex gap-1">
          <div>{{ entry.item.quantity }}</div>
          <app-item [item]="entry.item.itemInstance"></app-item>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyState>
      <div class="text-center italic text-zinc-300">No loot received yet.</div>
    </ng-template>
  </div>
</div>
