<svg
  class="h-[1em] w-[1em]"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="1.8"
  stroke-linecap="round"
  stroke-linejoin="round"
  aria-hidden="true"
  [ngSwitch]="type"
>
  <ng-container *ngSwitchCase="'Combat'">
    <path d="M14.5 4.5 19 9" />
    <path d="M5 19 14.5 9.5" />
    <path d="m15.5 8.5 3-3" />
    <path d="M9.5 4.5 5 9" />
    <path d="m8.5 8.5-3-3" />
    <path d="M19 19 9.5 9.5" />
  </ng-container>

  <ng-container *ngSwitchCase="'MiniBoss'">
    <path d="M8 14.5c-1.2-.8-2-2.2-2-3.9C6 7.5 8.7 5 12 5s6 2.5 6 5.6c0 1.7-.8 3.1-2 3.9" />
    <path d="M9 18h6" />
    <path d="M10 14v4" />
    <path d="M14 14v4" />
    <path d="M9.5 10.5h.01" />
    <path d="M14.5 10.5h.01" />
  </ng-container>

  <ng-container *ngSwitchCase="'Boss'">
    <path d="m4 9 4 3 4-7 4 7 4-3-1.5 9h-13L4 9Z" />
    <path d="M6.5 21h11" />
  </ng-container>

  <ng-container *ngSwitchCase="'Event'">
    <path d="M12 3.5 14.5 9l5.5.6-4.1 3.8 1.2 5.6L12 16.1 6.9 19l1.2-5.6L4 9.6 9.5 9 12 3.5Z" />
    <path d="M12 9.5v2.2" />
    <path d="M12 14.8h.01" />
  </ng-container>

  <ng-container *ngSwitchCase="'Checkpoint'">
    <path d="M5 20V7.5L12 4l7 3.5V20" />
    <path d="M8 20v-6h8v6" />
    <path d="M9 9.5h6" />
  </ng-container>

  <ng-container *ngSwitchDefault>
    <circle cx="12" cy="12" r="3" />
  </ng-container>
</svg>
