<div
  class="flex h-full flex-col overflow-hidden rounded-md bg-black/40 p-2 text-white"
>
  <div class="flex h-full flex-col gap-2">
    <!-- Player and Enemy team -->
    <div class="grid grid-cols-2 gap-2">
      <div class="flex flex-wrap items-center gap-2">
        <div
          *ngFor="let entity of playerTeam"
          (click)="selectEntity(entity.id)"
          [ngClass]="{
            'bg-primary/30 hover:bg-primary/40': selectedEntityId === entity.id,
          }"
          class="flex items-center gap-1 rounded border border-zinc-300/30 px-2 py-1 text-sm text-neutral-300 hover:cursor-pointer hover:bg-zinc-300/30"
        >
          {{ entity.name }}
        </div>
      </div>

      <div class="flex flex-wrap items-center gap-2">
        <div
          *ngFor="let entity of enemyTeam"
          (click)="selectEntity(entity.id)"
          [ngClass]="{
            'bg-primary/30 hover:bg-primary/40': selectedEntityId === entity.id,
          }"
          class="flex items-center gap-1 rounded border border-zinc-300/30 px-2 py-1 text-sm text-neutral-300 hover:cursor-pointer hover:bg-zinc-300/30"
        >
          {{ entity.name }}
        </div>
      </div>
    </div>

    <ng-container *ngIf="selectedStats as stats">
      <div class="flex flex-col gap-2 overflow-y-auto rounded">
        <div class="flex flex-wrap gap-2 text-sm text-white">
          <div class="flex flex-col gap-1">
            <div class="text-primary">
              <span>Damage Done:</span>
              <span class="brightness-150">
                {{ stats.damageDone | number }}</span
              >
            </div>
            <div class="text-primary">
              <span>Damage Taken:</span>
              <span class="brightness-150">
                {{ stats.damageTaken | number }}</span
              >
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <div class="text-primary">
              <span>Healing Done:</span>
              <span class="brightness-150">
                {{ stats.healingDone | number }}</span
              >
            </div>
            <div class="text-primary">
              <span>Healing Received:</span>
              <span class="brightness-150">
                {{ stats.healingReceived | number }}</span
              >
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <div class="text-primary">
              <span>Health Regenerated:</span>
              <span class="brightness-150">
                {{ stats.healthRegenerated | number }}</span
              >
            </div>
            <div class="text-primary">
              <span>Mana Regenerated:</span>
              <span class="brightness-150">
                {{ stats.manaRegenerated | number }}</span
              >
            </div>
          </div>
        </div>
        <div class="text-left text-sm">
          <div class="grid grid-cols-4 py-1 text-primary">
            <div class="col-start-1 col-end-3">Ability</div>
            <div>Damage</div>
            <div>Healing</div>
          </div>
          <div class="rounded border border-primary/30">
            <ng-container *ngFor="let ability of stats.abilities">
              <div
                *ngIf="ability.name"
                class="grid grid-cols-4 p-1 odd:bg-zinc-300/5"
              >
                <div class="col-start-1 col-end-3">{{ ability.name }}</div>
                <div>{{ ability.totalDamage | number }}</div>
                <div>{{ ability.totalHealing | number }}</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
