<div class="flex h-full w-full items-center justify-between">
  <div class="ll-stat-label min-w-24 text-nowrap">
    HP:
    <span class="font-semibold text-white">{{ health }}/{{ maxHealth }}</span>
  </div>
  <div
    class="relative h-3 w-full justify-self-end overflow-hidden rounded-full border border-light_gray/50 bg-black p-[2px]"
  >
    <div
      #healthBar
      class="h-full w-full rounded-md bg-cover transition-all duration-300 ease-in-out"
      style="
        background-image: url(&quot;combat/healthBar.svg&quot;);
        box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.4);
      "
    ></div>

    <div
      #barrierBar
      class="absolute left-0 top-0 h-full w-full bg-slate-400 opacity-75 transition-all duration-300 ease-in-out"
      style="box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.4)"
    ></div>
  </div>
</div>
