<div class="flex h-16 sm:h-8" *ngIf="currentCharacter() as currentCharacter">
  <div
    class="ll-panel-strong relative flex w-full items-center rounded-none border-x-0 sm:h-8 sm:rounded-md sm:pb-[1px]"
  >
    <div
      class="flex h-full w-full items-center justify-center bg-texture bg-auto sm:justify-between sm:rounded-md"
    >
      <div class="hidden items-center gap-2 pl-4 sm:flex">
        <h2
          class="max-w-[5ch] truncate text-primary sm:max-w-[8ch] lg:max-w-none"
        >
          {{ currentCharacter.name }} - Lv. {{ currentCharacter.level }}
        </h2>
        <div class="hidden gap-2 sm:flex">
          <button
            type="button"
            class="ll-currency-pill h-6 min-h-0"
            (click)="toggleFormat()"
          >
            <span class="text-nowrap text-primary"
              >{{
                useShortFormat
                  ? (currentCharacter.cinders | shortNumber)
                  : (currentCharacter.cinders | numberFormat)
              }}
              Cinders</span
            >
          </button>
          <button
            type="button"
            class="ll-currency-pill h-6 min-h-0"
            (click)="toggleFormat()"
          >
            <span class="text-nowrap text-primary"
              >{{
                useShortFormat
                  ? (currentCharacter.soulstones | shortNumber)
                  : (currentCharacter.soulstones | numberFormat)
              }}
              Soulstones</span
            >
          </button>
        </div>
      </div>
      <div class="flex w-full place-items-center gap-2 sm:w-auto">
        <div class="ll-mobile-nav z-10">
          <button
            type="button"
            class="ll-mobile-nav-button sm:hidden"
            (click)="itemTapped.emit()"
            aria-label="Open menu"
          >
            <img src="core/button/Hamburger.png" class="h-4 w-4" alt="" />
            <span>Menu</span>
          </button>
          <app-navbutton
            class="sm:hidden"
            *ngFor="let button of navButtons.slice(0, 2)"
            [link]="button.link"
            [label]="button.label"
            [icon]="button.icon"
            (click)="toggleList()"
            (itemTapped)="activeNavbar(button.label)"
          ></app-navbutton>
          <app-navbutton
            class="hidden sm:block"
            *ngFor="let button of navButtons.slice(2, 4)"
            [link]="button.link"
            [label]="button.label"
            [icon]="button.icon"
            (click)="toggleList()"
            (itemTapped)="activeNavbar(button.label)"
          ></app-navbutton>
          <button
            *ngIf="showChatButton"
            type="button"
            class="ll-mobile-nav-button border-l border-primary/10 bg-primary/10 sm:hidden"
            (click)="chatTapped.emit()"
            aria-label="Open chat"
          >
            <img src="icons/ActivePlus.svg" class="h-4 w-4" alt="" />
            <span>Chat</span>
          </button>
        </div>
        <ng-container *ngIf="onlinePlayers; else justYou">
          <div class="hidden justify-end pr-2 text-sm text-white sm:flex">
            {{ onlinePlayers }} Online
          </div>
        </ng-container>
        <ng-template #justYou
          ><div class="hidden justify-end pr-2 text-sm text-white sm:flex">
            1 Online
          </div></ng-template
        >
      </div>
    </div>
  </div>
</div>
