<div class="flex sm:h-8" *ngIf="currentCharacter() as currentCharacter">
  <!-- <app-character-badge
    class="z-10 -mr-12 hidden sm:block"
    [level]="currentCharacter?.level"
    [currentExperience]="currentCharacter?.experience"
    [maxExperience]="currentCharacter?.experienceUntilNextLevel"
  ></app-character-badge> -->
  <div
    class="border-gradient relative flex w-full items-center rounded-md sm:h-8 sm:pb-[1px]"
  >
    <div
      class="flex h-full w-full items-center justify-between bg-texture bg-auto sm:rounded-md"
    >
      <div class="hidden items-center gap-2 pl-4 sm:flex">
        <h2
          class="max-w-[5ch] truncate text-primary sm:max-w-[8ch] lg:max-w-none"
        >
          {{ currentCharacter.name }} - Lv. {{ currentCharacter.level }}
        </h2>
        <div class="hidden gap-2 sm:flex">
          <div
            class="flex h-6 min-w-20 items-center justify-between space-x-2 rounded-full bg-[#121216CC]"
            (click)="toggleFormat()"
          >
            <!-- <img src="core/currencies/Diamonds.svg" class="h-10 min-w-10" /> -->
            <label class="text-nowrap pl-2 pr-3 pt-[1px] text-primary"
              >{{
                useShortFormat
                  ? (currentCharacter.cinders | shortNumber)
                  : (currentCharacter.cinders | numberFormat)
              }}
              Cinders</label
            >
          </div>
          <div
            class="flex h-6 min-w-20 items-center justify-between space-x-2 rounded-full bg-[#121216CC]"
            (click)="toggleFormat()"
          >
            <!-- <img src="core/currencies/Coins.svg" class="h-10 min-w-10" /> -->
            <label class="text-nowrap pl-2 pr-3 pt-[1px] text-primary"
              >{{
                useShortFormat
                  ? (currentCharacter.soulstones | shortNumber)
                  : (currentCharacter.soulstones | numberFormat)
              }}
              Soulstones</label
            >
          </div>
        </div>
      </div>
      <div class="flex place-items-center gap-2">
        <!-- <div
            class="flex items-center hidden justify-between bg-transparent p-4 text-[#6D6D6D] sm:hidden"
            (click)="toggleList()"
            *ngIf="!showList"
          >
            <img src="core/button/Hamburger.png" class="cursor-pointer" />
            <h3 class="cursor-pointer pl-2 text-primary">{{ activeLabel }}</h3>
          </div> -->
        <div
          class="z-10 flex text-nowrap border-t bg-texture text-[#a1a1a1] sm:w-auto sm:items-center sm:space-x-2 sm:border-none sm:bg-none"
        >
          <app-navbutton
            *ngFor="let button of navButtons"
            [link]="button.link"
            [label]="button.label"
            (click)="toggleList()"
            (itemTapped)="activeNavbar(button.label)"
          ></app-navbutton>
        </div>
        <ng-container *ngIf="onlinePlayers; else justYou">
          <div class="hidden justify-end pr-2 text-sm text-white sm:flex">
            {{ onlinePlayers }} Online
          </div>
        </ng-container>
        <ng-template #justYou
          ><div class="hidden justify-end pr-2 text-sm text-white sm:flex">
            1 Online
          </div></ng-template
        >
      </div>
    </div>
  </div>
</div>
