<ng-container *ngIf="svc.combatSession() as combatSession">
  <!-- overlay -->
  <div
    class="fixed inset-0 z-40 flex items-center justify-center bg-black/60 p-4 backdrop-blur-sm"
  >
    <!-- card -->
    <div
      class="flex w-full max-w-md flex-col justify-center rounded-xl border border-light_gray bg-texture p-4 text-white shadow-lg"
    >
      <h3 class="mb-2 text-center text-primary">
        You were gone for
        {{ getDuration(combatSession.from, combatSession.to) }} and performed
        <h3 class="text-white">
          {{ combatSession.combatSummary.totalBattles }}
        </h3>
        battles.
      </h3>

      <div class="flex flex-row justify-center gap-3 text-center">
        <div class="min-w-16 rounded-lg p-1">
          <div class="text-emerald-300">
            {{ combatSession.combatSummary.wins }}
          </div>
          <div class="uppercase text-neutral-400">Wins</div>
        </div>
        <div class="min-w-16 rounded-lg p-1">
          <div class="text-rose-500">
            {{ combatSession.combatSummary.losses }}
          </div>
          <div class="uppercase text-neutral-400">Losses</div>
        </div>
        <div class="min-w-16 rounded-lg p-1">
          <div class="text-amber-400">
            {{ combatSession.combatSummary.totalExperience }}
          </div>
          <div class="uppercase text-neutral-400">XP</div>
        </div>
      </div>

      <button
        class="mt-2 w-full rounded-md py-2 font-medium"
        (click)="svc.dismiss()"
      >
        Dismiss
      </button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="svc.temperingSession() as temperingSession">
  <!-- overlay -->
  <div
    class="fixed inset-0 z-40 flex items-center justify-center bg-black/60 p-4 backdrop-blur-sm"
  >
    <!-- card -->
    <div
      class="flex w-full max-w-md flex-col justify-center rounded-xl border border-light_gray bg-texture p-4 text-white shadow-lg"
    >
      <h3 class="mb-2 text-center text-primary">
        You were gone for
        {{ getDuration(temperingSession.from, temperingSession.to) }} and
        performed
        <h3 class="text-white">
          {{ temperingSession.temperingSummary.totalActions }}
        </h3>
        tempering actions.
      </h3>

      <div class="flex flex-row justify-center gap-3 text-center">
        <div class="min-w-16 rounded-lg p-1">
          <div class="text-emerald-300">
            {{ temperingSession.temperingSummary.totalItemsCrafted }}
          </div>
          <div class="uppercase text-neutral-400">items tempered</div>
        </div>
        <div
          class="min-w-16 rounded-lg p-1"
          *ngIf="
            temperingSession.temperingSummary.masterpieces > 0 as masterpieces
          "
        >
          <div class="text-rose-500">
            {{ masterpieces }}
          </div>
          <div class="uppercase text-neutral-400">Masterpieces</div>
        </div>
        <div class="min-w-16 rounded-lg p-1">
          <div class="text-amber-400">
            {{ temperingSession.temperingSummary.totalExperience }}
          </div>
          <div class="uppercase text-neutral-400">Total XP</div>
        </div>
      </div>

      <button
        class="mt-2 w-full rounded-md py-2 font-medium"
        (click)="svc.dismiss()"
      >
        Dismiss
      </button>
    </div>
  </div>
</ng-container>
