<div class="flex h-full flex-col gap-4 overflow-hidden pb-4 text-white sm:pb-0">
  <div class="flex items-center gap-2 p-1 pr-5 sm:pr-1">
    <input
      type="text"
      [(ngModel)]="searchValue"
      (keydown)="onEnter($event)"
      class="placeholder-gray-400 w-full rounded-lg border border-zinc-300/30 bg-transparent px-4 py-2 text-base text-white focus:border-zinc-300/80"
      placeholder="Search character by name..."
    />
    <app-regular-button
      (pressed)="onSearch()"
      text="Search"
    ></app-regular-button>
  </div>

  <!-- <app-default-header
    *ngIf="character$ | async as CharacterOverview"
    class="flex-none"
    title="Character Overview"
    icon="character/achievements"
  ></app-default-header> -->
  <div class="flex flex-col gap-4 overflow-y-auto pr-4 sm:pr-6 lg:flex-row">
    <app-character-attributes
      *ngIf="character() as CharacterOverview"
      class="flex w-full"
      [attributes]="CharacterOverview.baseCombatAttributes"
    ></app-character-attributes>
  </div>
</div>
