<div class="flex w-96 flex-col items-center justify-between rounded-md">
  <div
    *ngFor="let slot of slots"
    (click)="handleSlotClick(slot)"
    class="justify flex h-16 w-full cursor-pointer items-center px-4 text-white hover:cursor-pointer hover:bg-neutral-600/50"
  >
    <div class="flex min-w-12 items-center gap-2">
      <img
        src="icons/equipment-slots/{{ slot.iconPath }}.svg"
        alt="empty_equipment"
        class="center w-8 object-contain"
      />
    </div>
    <app-item
      *ngIf="slot.equipmentInstance"
      [item]="slot.equipmentInstance"
    ></app-item>
  </div>
</div>
