<div
  class="relative flex h-64 w-full overflow-visible rounded-md bg-cover sm:size-64"
  style="
    background-image: url(&quot;cards/tree.png&quot;);
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.4);
  "
>
  <div class="absolute inset-0 p-3">
    <img src="icons/Info.svg" class="size-6" />
  </div>
  <div class="relative flex h-full w-full items-end">
    <div
      class="border-gradient absolute w-full rounded-md opacity-70"
      style="height: calc(6rem + 2px); bottom: -1px"
    ></div>
    <div class="absolute flex h-24 w-full overflow-hidden rounded-b-md">
      <div
        class="card-gradient absolute h-full w-full p-4 opacity-50 backdrop-blur-[2px]"
      ></div>
      <div
        class="absolute h-full w-full bg-black/40 p-4 backdrop-blur-[1px]"
      ></div>
    </div>
    <div class="relative flex w-full items-end justify-between p-3 text-white">
      <div class="flex flex-col gap-1 pb-4">
        <div class="flex items-center justify-between">
          <h3>{{ gatheringNodeName }}</h3>
        </div>
        <small class="text-secondary">Req. LV: 1</small>
        <div class="mt-2 flex items-center gap-2">
          <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3 w-3 text-primary"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="6" />
          </svg>
          <small class="text-primary">Oak log</small> -->
        </div>
      </div>
      <div class="-mb-2">
        <app-mini-button
          *ngIf="specificCard()"
          class="w-[64px]"
          text="Cancel"
          (click)="cancelCharacterAction()"
        ></app-mini-button>
        <app-mini-button
          *ngIf="!currentAction || currentAction?.isDeleted"
          class="w-[64px]"
          text="Cut"
          (click)="startGatheringAction()"
        ></app-mini-button>
      </div>
    </div>
  </div>
</div>
