<div
  [ngClass]="rarityClasses"
  class="absolute w-64 rounded-lg bg-neutral-500/80 p-4 text-sm text-white opacity-0 shadow-lg transition-opacity duration-200 group-hover:opacity-100"
>
  <div class="flex flex-col space-y-1 text-primary">
    <h3 class="">{{ item.name }}</h3>
    <div class="flex pb-1">
      <span class="">Rare Essence</span>
    </div>
    <!-- <div class="flex flex-col">
      <span>Passive Ability: </span>
      <span>
        Whenever you dodge, use the opportunity to throw dirt at the target,
        decreasing their accuracy by 3% for 6 seconds</span
      >
    </div>
    <div class="flex flex-col">
      <span>Active Ability: Sneak Attack</span>
      <span
        >Stab the target in the back, dealing basic attack damage, and apply 10
        bleed damage over 10 seconds</span
      >
    </div> -->
    <!-- <div class="flex justify-between">
        <span class="">Ability:</span>
        <span>{{ item.ability }}</span>
    </div> -->
    <!-- <div>
        <span class="">Attributes:</span>
        <ul class="list-disc list-inside ml-4">
            <li *ngFor="let attr of attributeEntries">
                {{ attr.key }}: {{ attr.value }}
            </li>
        </ul>
    </div> -->
    <p class="mb-4 text-sm">{{ item.description }}</p>
  </div>
</div>
