<div
  class="flex h-full w-full flex-col overflow-hidden rounded-xl p-4 text-white"
>
  <div class="flex-1">
    <div class="flex items-center justify-between">
      <h2 class="text-primary">Arena Battles</h2>
      <div
        *ngIf="arenaTicketStatus"
        class="flex flex-col items-end text-lg font-medium"
      >
        <span class="bg-gold rounded-full px-2 py-1 text-emerald-400">
          {{ arenaTicketStatus.currentTickets }} /
          {{ arenaTicketStatus.maxTickets }} tickets
        </span>
        <span class="">{{ newTicketsIn }} </span>
      </div>
    </div>

    <div class="grid grid-cols-4 items-center border-b border-light_gray p-2">
      <div>Name</div>
      <div>Level</div>
      <div>Arena Rating</div>
      <app-regular-button
        class="justify-self-end"
        text="Refresh"
        variant="danger"
        (pressed)="onRefresh()"
      />
    </div>
  </div>
  <div class="overflow-y-auto">
    <div
      class="grid grid-cols-4 items-center border-b border-light_gray p-2"
      *ngFor="let o of opponents"
    >
      <app-character-tag
        [characterId]="o.characterId"
        [characterName]="o.name"
      ></app-character-tag>
      <div>{{ o.level }}</div>
      <div>{{ o.opponentRating }}</div>
      <div class="justify-self-end">
        <div class="flex gap-2 justify-self-end">
          <div class="flex flex-col">
            <span class="text-gray-400 text-xs">Win</span>
            <span
              [ngClass]="o.deltaIfVictory > 0 ? 'text-green-400' : 'text-white'"
            >
              {{
                o.deltaIfVictory > 0 ? "+" + o.deltaIfVictory : o.deltaIfVictory
              }}
            </span>
          </div>
          <div class="flex flex-col">
            <span class="text-gray-400 text-xs">Draw</span>
            <span
              class="text-center"
              [ngClass]="
                o.deltaIfDraw > 0
                  ? 'text-yellow-400'
                  : o.deltaIfDraw < 0
                    ? 'text-red-400'
                    : 'text-white'
              "
            >
              {{ o.deltaIfDraw > 0 ? "+" + o.deltaIfDraw : o.deltaIfDraw }}
            </span>
          </div>
          <div class="flex flex-col">
            <span class="text-gray-400 text-xs">Loss</span>
            <span class="text-red-400">
              {{
                o.deltaIfDefeat > 0 ? "+" + o.deltaIfDefeat : o.deltaIfDefeat
              }}
            </span>
          </div>
        </div>
        <app-regular-button
          text="Challenge"
          (pressed)="onChallenge(o.characterId)"
          [disabled]="
            arenaTicketStatus == undefined ||
            arenaTicketStatus.currentTickets < 1
          "
        />
      </div>
    </div>
  </div>
</div>
