<div
  *ngIf="tabs.length > 1"
  class="ll-segmented ll-scrollbar-none flex w-full"
  [ngClass]="{
    'flex-nowrap overflow-x-auto overscroll-x-contain': scrollable,
    'flex-wrap': !scrollable,
  }"
  role="tablist"
>
  <button
    type="button"
    *ngFor="let tab of tabs"
    class="ll-segmented-button"
    [ngClass]="{
      'll-segmented-button-active': activeTab === tab,
      'min-w-max flex-none': scrollable,
      'w-1/3': !scrollable && tabs.length >= 6,
      'flex-1': !scrollable && tabs.length < 6,
    }"
    [attr.aria-selected]="activeTab === tab"
    [attr.data-tour]="getTourId(tab)"
    role="tab"
    (click)="setActiveTab(tab)"
  >
    {{ tab }}
  </button>
</div>
