<div
  class="flex h-full w-full flex-col gap-2 overflow-y-auto p-4 sm:px-6 md:flex-row"
>
  <!-- ITEM DESCRIPTION + CRAFTING QUEUE -->
  <div class="flex h-full w-full flex-col space-y-2 md:order-2">
    <!-- ITEM DESCRIPTION -->
    <div class="rounded-lg border border-light_gray bg-texture p-4">
      <h2 class="text-primary">Item Description</h2>
      <ng-container
        *ngIf="selectedEquipmentInstance() as equipment; else noItem"
      >
        <div class="flex flex-col gap-2">
          <!-- Equipment Name and Rarity -->
          <h2 class="">
            {{ equipment.itemBase.name }}
          </h2>
          <!-- Type -->
          <span class="text-zinc-300">
            {{ equipment.itemBase.equipmentType }} -
            {{ equipment.rarity }}
          </span>
          <!-- Description -->
          <div
            *ngIf="equipment.itemBase.description"
            class="text-gray-400 text-sm italic"
          >
            {{ equipment.itemBase.description }}
          </div>
          <!-- Attributes -->
          <div *ngIf="equipment.attributeModifiers.length > 0">
            <div class="mb-1">Attributes:</div>
            <ul class="ml-5 list-disc text-sm">
              <li *ngFor="let attr of equipment.attributeModifiers">
                {{ attr.amount > 0 ? "+" : "" }}{{ attr.amount }}
                {{ attr.attributeType | attributeTypeFormat }}
              </li>
            </ul>
          </div>
        </div>
        <div class="pt-2">
          <span *ngIf="equipment.potential as potential">
            Potential: {{ potential }}
          </span>
        </div>
        <div class="flex items-center gap-2">
          <ng-container *ngIf="isPerformingOtherAction(); else canPerform">
            <span class="py-1 italic text-zinc-300">
              Can not temper with an ongoing action
            </span>
          </ng-container>
          <ng-template #canPerform>
            <ng-container *ngIf="isQueueSelected(); else itemSelected">
              <span class="py-1 italic text-zinc-300"> In queue </span>
            </ng-container>
            <ng-template #itemSelected>
              <ng-container *ngIf="canTemper(); else nothing">
                <button
                  class="rounded border border-light_gray px-3 py-1 text-white hover:bg-zinc-300/10"
                  (click)="temper(equipment)"
                >
                  Temper
                </button>
              </ng-container>
              <ng-template #nothing>
                <span class="py-1 text-rose-500"> No potential left </span>
              </ng-template>
            </ng-template>
          </ng-template>
        </div>
      </ng-container>
      <ng-template #noItem>
        <div class="text-gray-500 mt-2 italic">
          Select an item to view details.
        </div>
      </ng-template>
    </div>

    <!-- CRAFTING QUEUE -->
    <div
      class="max-h-40 min-h-24 overflow-y-auto rounded-lg border border-light_gray bg-texture p-4 sm:max-h-full"
    >
      <ng-container *ngIf="craftingQueue() as craftingQueue">
        <ng-container *ngIf="craftingQueue.length > 0; else emptyQueue">
          <!-- ── CURRENTLY WORKING ON ──────────────────────────────── -->
          <div class="text-gold flex justify-between text-lg font-semibold">
            <div>Working on</div>
            <span class="place-self-end">
              {{ getEstimatedTime([craftingQueue[0]]) }}~
            </span>
          </div>

          <!-- the first item (index 0) -->
          <div
            class="mt-2 flex cursor-pointer justify-between rounded-lg border p-3 hover:border-primary/60 hover:bg-zinc-300/30"
            (click)="selectItem(craftingQueue[0].equipmentInstance)"
            [class.border-primary]="
              selectedEquipmentInstance()?.id ===
              craftingQueue[0].equipmentInstance.id
            "
            [ngClass]="{
              'bg-primary/10':
                selectedEquipmentInstance()?.id ===
                craftingQueue[0].equipmentInstance.id,
              'border-primary/20':
                selectedEquipmentInstance()?.id !==
                craftingQueue[0].equipmentInstance.id,
            }"
          >
            <div class="flex flex-col">
              <div class="font-semibold text-white">
                {{ craftingQueue[0].equipmentInstance.itemBase.name }}
              </div>
              <div class="text-gray-400 text-sm">
                {{ craftingQueue[0].equipmentInstance.potential }} Potential
              </div>
            </div>

            <button
              class="text-sm text-red-400 hover:underline"
              (click)="cancelCraft(craftingQueue[0]); $event.stopPropagation()"
            >
              Cancel
            </button>
          </div>

          <!-- ── REST OF THE QUEUE ─────────────────────────────────── -->
          <ng-container *ngIf="craftingQueue | slice: 1 as waitingQueue">
            <div *ngIf="waitingQueue.length" class="mt-4">
              <div class="text-gold flex justify-between text-lg font-semibold">
                <div>Queued</div>
                <span class="place-self-end">
                  {{ getEstimatedTime(waitingQueue) }}~
                </span>
              </div>

              <!-- everything *after* the first element -->
              <div
                *ngFor="let queueItem of waitingQueue"
                class="mt-2 flex cursor-pointer justify-between rounded-lg border p-3 hover:border-primary/60 hover:bg-zinc-300/30"
                (click)="selectItem(queueItem.equipmentInstance)"
                [class.border-primary]="
                  selectedEquipmentInstance()?.id ===
                  queueItem.equipmentInstance.id
                "
                [ngClass]="{
                  'bg-primary/10':
                    selectedEquipmentInstance()?.id ===
                    queueItem.equipmentInstance.id,
                  'border-primary/20':
                    selectedEquipmentInstance()?.id !==
                    queueItem.equipmentInstance.id,
                }"
              >
                <div class="flex flex-col">
                  <div class="font-semibold text-white">
                    {{ queueItem.equipmentInstance.itemBase.name }}
                  </div>
                  <div class="text-gray-400 text-sm">
                    {{ queueItem.equipmentInstance.potential }} Potential
                  </div>
                </div>

                <button
                  class="text-sm text-red-400 hover:underline"
                  (click)="cancelCraft(queueItem); $event.stopPropagation()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-template #emptyQueue>
        <div class="mt-2 italic">Nothing is currently being crafted.</div>
      </ng-template>
    </div>
  </div>
  <!-- TEMPERING LIST -->
  <div
    class="flex max-h-full min-h-24 w-full flex-col space-y-2 overflow-y-auto md:order-1"
  >
    <ng-container *ngIf="inventory().length; else noItemsToTemper">
      <h2 class="flex text-primary">Items to temper</h2>
      <ng-container *ngIf="inventory() as inventory">
        <div
          *ngFor="let item of inventory"
          class="cursor-pointer rounded-lg border p-3 hover:border-primary/60 hover:bg-zinc-300/30"
          (click)="selectItem(item.itemInstance)"
          [class.border-primary]="
            selectedEquipmentInstance()?.id === item.itemInstance.id
          "
          [ngClass]="{
            'bg-primary/10':
              selectedEquipmentInstance()?.id === item.itemInstance.id,
            'border-primary/20':
              selectedEquipmentInstance()?.id !== item.itemInstance.id,
          }"
        >
          <div class="font-semibold text-white">
            {{ item.itemInstance.itemBase.name }}
          </div>
          <div class="text-gray-400 text-sm">
            <!-- Lv {{ item.levelRequirement }} -->
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noItemsToTemper>
      <p class="mt-4 text-center italic text-neutral-400">
        You have no available items to temper.
      </p>
    </ng-template>
  </div>
</div>
